[2018-12-13 09:11] cdsap opened #2 "Ktor Dependency"
Talaiot requires Ktor, but the dependency is not solved.
we need to use

`url "https://dl.bintray.com/kotlin/ktor"`

[2018-12-19 02:08] cdsap opened #3 "Wrap Format Output Publisher"

[2018-12-19 02:16] cdsap opened #4 "Circle CI Triggering the Snapshot/Release"

[2019-01-29 12:00] cdsap commented on #4
done

[2019-01-29 12:00] cdsap commented on #3
done

[2019-01-29 12:00] #3 closed

[2019-01-29 12:00] cdsap commented on #2
finally using kttp

[2019-01-29 12:00] #2 closed

[2019-02-04 12:24] cdsap opened #13 "Docker Hub Deployment"
There is not possible to deploy with docker.hub due an error with the paths

[code]

[2019-02-04 12:24] cdsap opened #14 "Outputpublisher empy configuration"
When configuration of OutputPublisher is empty the output is not working

[2019-02-04 12:25] cdsap opened #15 "OutputPublisher is not showing the output correctly"
No shrug:

[code]

[2019-02-04 12:27] cdsap opened #16 "Empty configuration for InfluxDb"
If we are setting properties for the configuration of `InfluxDbPublisher` throws a non-descriptive error

[code]

[2019-02-05 08:30] cdsap opened #18 "Populate data example"
Finish the initial provisioning of data of the script with Gradle Profiler

[2019-02-05 08:35] #16 closed

[2019-02-05 08:35] #15 closed

[2019-02-05 08:36] #14 closed

[2019-02-05 08:49] cdsap opened #20 "Link Readme with the articles published in the wiki"

[2019-02-07 08:38] #20 closed

[2019-02-07 08:38] #18 closed

[2019-02-15 09:40] cdsap opened #26 "Port Problems in the Configuration of the InfluxDbPublisher"
When the port is not included in the url, `InfluxDbPublisher` is not working properly.

`unexpected port: -1`

[2019-02-15 09:47] #26 closed

[2019-02-18 16:30] Malinskiy commented on #13
@cdsap how did you specify the Dockefile path in the docker hub?

[2019-02-18 16:35] Malinskiy commented on #13
This issue probably is because you're specifying something like this:
[code]

when you should specify the following

[code]

[2019-02-19 10:47] cdsap commented on #13
@Malinskiy thank you.
I saw the problem was in the path of the build context with `/`.
Now is ok with:
<img width="1070" alt="screen shot 2019-02-19 at 17 46 41" src="https://user-images.githubusercontent.com/475733/53009598-78d85080-346e-11e9-9be0-c5f706760bd6.png">

[2019-02-19 10:49] cdsap commented on #13
Fixed

<img width="1074" alt="screen shot 2019-02-19 at 17 48 53" src="https://user-images.githubusercontent.com/475733/53009697-a6bd9500-346e-11e9-8375-d24a2034f8a2.png">

[2019-02-19 10:49] #13 closed

[2019-02-20 10:30] cdsap opened #28 "gradleVersion Typo in the GradleMetrics"

[2019-02-20 10:44] chanissa opened #29 "issue with git profile that contain ",""
issue with git profile that contain "," it will throw a bad request

Example: Aaaaa , aaaa

[2019-02-20 13:35] #28 closed

[2019-02-20 13:39] cdsap commented on #29
fixed, will be available in 0.1.2

[2019-02-20 13:39] #29 closed

[2019-02-20 14:25] cdsap opened #33 "Create Support for Codecov and integration with GH"

[2019-02-21 01:27] cdsap opened #34 "GradleMetrics: Use Configuration from StartParameter"
Replace the current execution removing parsing the Gradle Properties parsing and use `StartParameter`

[2019-02-23 11:14] cdsap opened #38 "Creating Filter for the tasks candidates to be tracked"
We may want to discard the track of different tasks.
Create new Configuration entity to setup the regexp like:

[code]

Later, apply the filters in `TalaiotTracker`

[2019-04-24 10:45] LogosIntellect opened #44 "java.util.NoSuchElementException during gradle sync"
When I sync my project, I get NoSuchElementException. After some search for the cause, I found that in the TalaiotListener in the projectsEvaluated method,  property gradle.startParameter.taskRequests was empty. Because of this, a crash occurs in the talaiotTracker.initNodeArgument () method.

Stacktrace:

        at com.cdsap.talaiot.TalaiotTracker.initNodeArgument(TalaiotTracker.kt:16)
        a

[2019-04-24 11:04] cdsap commented on #44
Hi @LogosIntellect thank you very much for the feedback.
I'm checking the problem. The class provided by Gradle `StartParameter` is saying:
`When empty, the default tasks for the project will be executed`

I will fix ASAP

[2019-04-24 14:25] cdsap commented on #44
a hotfix has been released on `0.1.8`,  thanks

[2019-04-24 14:32] cdsap opened #47 "Duplicated rootNode"
Seen since version `0.1.16` we can see in the `OutputPlublisher` the rootNode duplicated

[code]

[2019-04-25 03:11] LogosIntellect commented on #44
It works. Thanks for the quick fix!

[2019-04-26 07:10] LogosIntellect opened #48 "db tracking not found"
When I run my project, I get follow error.

I run docker image

[2019-04-26 09:13] LogosIntellect commented on #48
I have specified the wrong port in the configuration. Please correct your README file

[2019-04-26 13:15] cdsap commented on #48
Thanks for reporting, I will check it

[2019-04-26 13:15] cdsap commented on #48
Thanks for reporting, I will check it

[2019-04-28 04:48] cdsap commented on #48
updated

[2019-04-29 07:02] cdsap commented on #48
can I close the issue?

[2019-04-29 07:03] cdsap commented on #44
can I close the issue?

[2019-04-29 11:59] LogosIntellect commented on #44
Yes, Thanks!

[2019-04-29 11:59] LogosIntellect commented on #48
Yes, Thanks!

[2019-04-29 12:00] #48 closed

[2019-04-29 12:00] #44 closed

[2019-05-03 12:08] satyarths opened #49 "Allow setting a threshold for the minimum task Execution Time"
Hi there,

I was wondering if would be possible to add a `threshold` value for tasks whose output  should be uploaded.  I'm running this on a project which generates ~2200 tasks, and a lot of them take <10ms. This makes the string content to uploaded quite huge. So looking at some way of reducing it.

This would be something similar to that implemented in the [build-time-tracker-plugin](https://gi

[2019-05-03 12:57] satyarths commented on #38
I was looking into picking this up. Would it be possible to explain the API a bit more in the following context?

- Do we need to ensure mutual exclusivity between the `whitelist` and `blacklist` .
- Would this be based on only task names or a combination of module and task names.
- What happens to the tasks which are neither a part of the `whitelist` or `blacklist`.
- If a `whitelist` is present

[2019-05-03 14:22] cdsap commented on #49
hi @satyarths,
thank you very much for the interest. I think is a very good idea.
It should be configured at the level of the publisher, so at the moment it will affect the Output and InflixDb Publishers.
This weekend and next week will work about this.
And tomorrow I will check #38

[2019-05-05 09:48] cdsap commented on #49
hi @satyarths can you take a look to the PR #50  please?

[2019-05-05 10:16] cdsap commented on #38
Hi,
thank you very much for the interest.
Some of the questions raised are not detailed so I would appreciate if you want to create more detailed specs here.

One thing I have clear is the separation by different filters, for example, imagine I want to ignore some specific module and some specific pattern for tasks(*bundle), so it should be composed by different filters types and ideally how we wa

[2019-05-05 17:10] satyarths commented on #38
Sounds good . I'll workout this spec and get back to you then 👍 . But just so we are on the page here, you mean something like
[code]
And these would be combined to determine the filter list?

[2019-05-06 09:56] AshwinRaviraj opened #52 "Software visualisation"
Hi,
I believe there is a need for software visualisation tools to support the understanding of software systems. Many software visualisation tools, both open source and commercial, have been created for many languages, but no software visualisation tool has been created for the language Kotlin.

I have now however created one for my Bachelor thesis. I have used my application to visualise your pro

[2019-05-06 20:07] cdsap commented on #52
hi @AshwinRaviraj thanks for your comment.
As the issues of this project have to be related to Talaiot, I'm closing this issue, feel free to contact me at my email and I will be very happy to answer.

[2019-05-06 20:07] #52 closed

[2019-05-07 15:37] satyarths commented on #49
This is done

[2019-05-07 15:37] #49 closed

[2019-05-07 16:06] satyarths commented on #38
Consider a basic filter configuration that works on the specified parameter
[code]

For tasks this can be

Q1.
[code]

In this case the task would be a part of the `whitelist` and `blacklist`  how would the filter work in this scenario

Q2.
[code]
Would the task `mergeDexDebug` be included. The logical answer seems that it would be ignored.

Q3.
[code]
Would the task `packageDebug` be included. Th

[2019-05-07 21:22] cdsap commented on #38
hi @satyarths, sorry for the delay I'm at the I/O.

Q1. You're right, we should encourage developers to don't fall in these situations on the doc and maybe we can throw some output during processing the build.

Q2. Indeed, due to the whitelist only contains `*assemble*` all the other tasks that don't match the pattern should be ignored

Q3. Same here, due to the whitelist only contains `*assemble*

[2019-05-09 07:30] satyarths commented on #38
Hi @cdsap ,

Sure I understand . And your answers provide the clarifications I need. Thank you. Have fun at I/O 👍

Thanks

[2019-05-14 11:42] cdsap commented on #38
Hi, I'm back if you need to clarify more about this issue

[2019-05-16 03:41] satyarths commented on #38
Hi @cdsap.
 I do have a few doubts surrounding the implementation. How ever I figured I'd submit a PR and then ask questions based on that. Will raise a PR sometime this weekend.

[2019-05-16 09:17] cdsap commented on #38
sure no problem!

[2019-05-18 14:50] satyarths commented on #38
@cdsap I've added the PR  for the same. Please have a look at #54 . Thanks :)

[2019-05-21 03:39] cdsap opened #55 "Convert Threshold be included it as Filter"
As @satyarths mentioned in the PR #54 Threshold should be included in the Filtering configuration

Ideal DSL would be

[code]

[2019-05-21 03:40] cdsap opened #56 "Rework StringFilterProcessor"
Implement it in a more explicit and cleaner manner

[2019-05-21 03:42] cdsap opened #57 "Filter data on analysis instead of publishing"
Now the filtering happens on the publishing phase, we want to apply in the analysis.
It requires measuring the impact on Graph publishers

[2019-05-21 03:47] cdsap opened #58 "Applying Filtering rules in root DSL"
As @satyarths mentioned on the discussion of the issue #54 Filters can be applied globally

depends on #57 to measure the impact of graphs publishers

[2019-05-22 04:38] satyarths commented on #57
Hi @cdsap,
Thank you for adding this issue. I think my question did not come across correctly. Let me try putting it forward in a correct manner.

Right now by adding filters the plugin provides the capability to publish(influx publisher,output publisher etc) only those metrics that are selected based on the filtering.

However would it make sense to publish all the values (without filtering) and

[2019-05-22 06:54] cdsap commented on #38
Merged, thx

[2019-05-22 06:54] #38 closed

[2019-05-22 07:11] cdsap commented on #57
hi, it makes sense your comments.
But, one of the reasons behind including tasks filters in Talaiot is to avoid problems like High Cardinality in the time-series instances.
We faced one problem with InfluxDb due to the high volume of data we were handling. And for some regressions, I would like to reduce noise on the data sent and reduce the previous problem of high cardinality.  Not all users/dev

[2019-05-22 08:49] satyarths commented on #57
This makes sense.  Given our setup we could end up facing a similar issue so I understand what you are trying to address. Thanks for clarifying that 👍

[2019-05-31 05:06] LogosIntellect opened #61 "A connection to (http://myserver.ru/) was leaked."
Hello, I have follow error.

`A connection to http://myserver.ru/ was leaked. Did you forget to close a response body?
java.lang.Throwable: response.body().close()
	at okhttp3.internal.platform.Platform.getStackTraceForCloseable(Platform.java:148)
	at okhttp3.RealCall.captureCallStackTrace(RealCall.java:115)
	at okhttp3.RealCall.execute(RealCall.java:87)
	at io.github.rybalkinsd.kohttp.dsl.HttpPos

[2019-05-31 05:28] cdsap commented on #61
hi @LogosIntellect
I saw the issue previously and that's why it was implemented before like:
https://github.com/cdsap/Talaiot/pull/53/files#diff-4ee317609fdaa9eaf26a6a6de480c8a0L38

@rybalkinsd suggested it was not the proper impl. We have more info how to apply it properly here:
https://github.com/square/okhttp/issues/2311

Next week we have a release and will be fixed.

[2019-05-31 05:45] LogosIntellect commented on #61
@cdsap Thanks for the quick answer.

[2019-05-31 07:25] rybalkinsd commented on #61
@cdsap You're right, thanks for the notice. Kohttp should have a DSL-level improvement for this issue

[2019-05-31 14:18] cdsap commented on #61
Hi @LogosIntellect,
I'm reopening the issue, I want to be sure that is correctly implemented following the comments of square/okhttp#2311
Once is confirmed I will close again

[2019-06-04 05:17] cdsap commented on #58
done

[2019-06-04 05:17] #58 closed

[2019-06-04 05:18] cdsap commented on #55
done closed in #58

[2019-06-04 05:18] #55 closed

[2019-06-07 09:04] cdsap commented on #61
hi @LogosIntellect, can you reproduce this problem in the released version 0.3.0?

[2019-06-10 10:06] LogosIntellect commented on #61
Hi @cdsap, this update fixes my problem

[2019-07-16 16:49] #34 closed

[2019-07-16 16:49] cdsap opened #70 "Update docs with 1.0.0 features"

[2019-07-25 13:17] cdsap opened #72 "Add Promotheus Dashboard"
Add new Dashboard for Prometheus and update the publisher to fit requirements of release 1.0.0

[2019-07-25 13:35] cdsap opened #73 "Update Client Talaiot with new release"

[2019-07-28 08:20] #70 closed

[2019-07-29 05:38] tagantroy opened #75 "Add RetentionPolicyConfiguration details to README"

[2019-07-29 05:52] tagantroy opened #76 "Problem with RetentionPolicyConfiguration"
I checked https://github.com/cdsap/Talaiot/blob/master/talaiot/src/main/kotlin/com/cdsap/talaiot/configuration/InfluxDbPublisherConfiguration.kt
it looks like RetentionPolicyConfiguration is not correct and all fields should be vars instead of vals.
I tried to set a custom retention policy
[code]
and build failing with
[code]

[2019-07-29 07:37] cdsap opened #78 "Check InfluxDbPublisherTest after RetencionPolicy Change"
After RetentionConfiguration change, the test is throwing an error with no results given by the container.

[2019-07-29 07:38] cdsap commented on #76
Hi @tagantroy, thank you very much for the reporting. Indeed, you're right. A hotfix has been released under 1.0.1. You can check it

[2019-07-30 03:47] tagantroy commented on #76
Hello @cdsap thanks for a quick fix. It works in 1.0.1.

[2019-07-30 03:47] #76 closed

[2019-07-30 05:43] tagantroy opened #79 "Android Studio gradle sync cause a problem with requestedTasks"
When you run Gradle sync in AndroidStudio you will see a very long line of requested tasks(in our case it is 10k characters). It contains a lot of generateDebugSources tasks for each module in the project. As a workaround, we can check tasks names
[diff.txt](https://github.com/cdsap/Talaiot/files/3445318/diff.txt)
Reproduce:
1) Open Android Studio
2) Click sync now

[2019-07-30 08:42] LogosIntellect opened #80 "If timelinePublisher is true, process doesn't close"
I can not exec gradle clean. Folder "build\reports\talaiot\timeline" is lock

[2019-07-30 09:08] Malinskiy commented on #80
@LogosIntellect I'm not able to reproduce the problem, but I implemented a possible fix in #81. Could you please check?

[2019-07-30 09:56] LogosIntellect commented on #80
Do you have repository for 1.0.1-SNAPSHOT?

[2019-07-30 14:38] cdsap commented on #80
Hi @LogosIntellect, I will set up tomorrow

[2019-07-31 03:13] cdsap commented on #80
Snapshot published at jfrog:

[code]

1.0.1-SNAPSHOT

[2019-07-31 03:13] tagantroy commented on #79
Workaround #82 merged to master

[2019-07-31 03:14] cdsap commented on #79
Snapshot published at jfrog:

[code]
1.0.1-SNAPSHOT

[2019-07-31 03:15] cdsap opened #83 "Setup conf Snapshot deployment"

[2019-07-31 06:59] tagantroy opened #85 "Add config for metrics submission"
On our big project, we have a lot of tasks and if we report all of them our Influxdb cannot handle this amount of data. It would be great to have an option to disable task metric submission and report only build metric.

[2019-07-31 07:41] LogosIntellect commented on #80
Unfortunatel, fix didn't help me

[2019-07-31 07:44] cdsap commented on #85
Hi,
you can use the `filterConfiguration` like:

[code]

and no tasks will be reported, I know is not the best way but should work now for the requirement to only submit build info.
I will take a look

[2019-07-31 09:35] tagantroy commented on #79
Hello @cdsap looks like this workaround handles this problem only partially. Probably we need to have a limit for requestedTasks or submit two values one is full requestedTasks string and one with limited length(for grafana).

[2019-07-31 10:05] Malinskiy commented on #80
@LogosIntellect Did the error message change at all?

[2019-08-01 01:19] LogosIntellect commented on #80
@Malinskiy not...

[2019-08-01 04:55] stepango opened #86 "Build fails if not able to sent the metrics"
[code]

[2019-08-01 08:49] cdsap commented on #86
hi @stepango, thanks for the report. I'll take a look

[2019-08-01 08:51] #78 closed

[2019-08-01 09:27] cdsap commented on #80
Hi @LogosIntellect, I was researching more about this problem. Which version of Gradle are you using? I see 5.3.x(https://docs.gradle.org/5.3.1/release-notes.html#better-help-message-on-delete-operation-failure ) version implement better help messages on this kind of problems failing to delete files are other processes holding file descriptors open. But it looks very clear is happening on the buil

[2019-08-01 16:57] cdsap commented on #86
merged fix to catch the exception:

<img width="941" alt="Screenshot 2019-08-01 at 23 15 20" src="https://user-images.githubusercontent.com/475733/62312299-0907d080-b4b8-11e9-9846-8b86c6ed4053.png">

Published snapshot 1.0.3-SNAPSHOT

[2019-08-02 01:41] cdsap commented on #79
hi @tagantroy if you have a moment, how you can I reproduce this issue, I mean how are you checking the requested tasks with run Gradle sync?

[2019-08-02 02:24] LogosIntellect commented on #80
@cdsap I use Gradle Wrapper 5.5.1 and Android Studio 3.4.2

[2019-08-05 10:05] roscrazy commented on #85
Hi @cdsap, fist, thank for the great tool.
Secondly, I tried out your solution, but it does not work as expected.
1. I have tried with
`filter {
        modules {
            excludes = arrayOf("\\*")
        }
    }`
But it does not filter anything.
As I understood, you want to exclude all of the modules.
2. Therefore I tried:
`
filter {
        modules {
            excludes = arrayOf("(.*?)")

[2019-08-06 01:00] cdsap commented on #85
hi @roscrazy! Sure I'll take a look

[2019-08-06 04:07] cdsap commented on #85
hi @roscrazy again, new snapshot published with new property in the `influxdbConfiguration`.

Now you can set the publisher only sending build metrics adding the conf `publishOnlyBuildMetrics`:

[code]

[2019-08-06 05:20] tagantroy commented on #79
Hi @cdsap, after any modification in build.gradle files android studio shows "sync now" button after you click it it will run a lot of generateDebugSources tasks(1 per module).
The problem here - integration between Gradle and android studio. Probably it would be great to have a limit for requested tasks. For example by default send all of them and config to send only first N tasks instead of whol

[2019-08-06 05:31] tagantroy opened #89 "ElasticSearch support"
We cannot store task metrics in influxdb, because we have a lot of data.
It would be great to have integration with [ElasticSearch](https://www.elastic.co/) or [Loki](https://grafana.com/oss/loki#about)

[2019-08-06 08:24] roscrazy commented on #85
Hi @cdsap , thank for the fast response/update
I updated to our project

[2019-08-06 11:04] cdsap commented on #89
hi @tagantroy, your idea is to create a new publisher for ElasticSearck/Loki or split by type(task/build).
I'm staring checking ES.

[2019-08-08 04:21] tagantroy commented on #89
My idea - provide flexible configuration for published to be able to submit tasks only to elasticsearch and build to influx for example. Two settings submitBuildMetric=true/false and submitTaskMetric=true/false for each published would be nice feature.

[2019-08-08 08:27] cdsap commented on #89
Hi, oh I like the idea!
If you don't mind I will create first the `ElasticSearchPublisher` for 1.0.4. Then I will go deeper in this hybrid configurations  with multiples publishers per entity

[2019-08-08 10:26] cdsap opened #90 "Metrics Readme Update"
Update Readme with the new configuration for metrics

[2019-08-08 10:40] cdsap opened #91 "InfluxDBException: retention policy not found: rpTalaiot"
On a clean installation of InfluxDb the first time we try to report metrics we have this error:

[code]

Once you change dbname it works.

[2019-08-09 04:04] cdsap commented on #91
problem comes from `Bagan`.
We were populating the database without retention. This was the poblem. Working as expected.

[2019-08-09 04:04] #91 closed

[2019-08-09 04:46] #90 closed

[2019-08-09 04:47] #75 closed

[2019-08-12 09:06] cdsap opened #93 "CustomPublisherConfiguration for Publishers"
Abstract the creation of `CustomPublishers` with a configuration like:

[code]
This will help us to include custom publishers in the HybridPublisher and have a better syntax in the main publisher configuration

[2019-08-12 10:06] cdsap commented on #89
pr created #94

[2019-08-12 11:02] LogosIntellect opened #95 "Build failed if InfluxDb unavailable"
When I stoped InfluxDb, my Nginx configuration responsed 502 BAD REQUEST. My team didn't work, because their bulds crashes =(

[2019-08-12 11:38] cdsap commented on #95
hi @LogosIntellect
sorry to hear that.
You can use the snapshot 1.0.3 that is catching the different exceptions:
[code]

And the current Snapshot:

[code]

please let me know if is helping

[2019-08-12 12:44] cdsap commented on #95
@LogosIntellect if the solution of the snapshot solves the problem I can deploy a new hotfix version right now

[2019-08-12 13:17] LogosIntellect commented on #95
It is solved problem! Thanks for the hotfix

[2019-08-12 13:30] cdsap commented on #95
1.0.3 deployed and available

[2019-08-13 02:27] cdsap commented on #86
last night was published 1.0.3 release version with the fix

[2019-08-13 03:20] LogosIntellect commented on #95
Thanks! I close issue

[2019-08-13 03:20] #95 closed

[2019-08-14 12:15] cdsap commented on #89
merged

[2019-08-14 12:15] #89 closed

[2019-08-16 03:18] cdsap commented on #33
done!

[2019-08-16 03:18] #33 closed

[2019-08-16 03:38] cdsap commented on #57
closing due to inactivity and new changes from version 1.x.x

[2019-08-16 03:38] #57 closed

[2019-08-16 04:15] cdsap commented on #83
done, every commit in master will generate a new snapshot on http://oss.jfrog.org/oss-snapshot-local/com/cdsap/talaiot/

[2019-08-16 04:15] #83 closed

[2019-08-16 11:18] cdsap opened #101 "Include summary at Readme"

[2019-08-17 01:33] tagantroy commented on #85
https://github.com/cdsap/Talaiot/pull/94

[2019-08-17 01:33] #85 closed

[2019-08-29 04:25] vipsy opened #102 "Publishing to prometheus pushgateway fails with Bad Request"
Publishing to prometheus pushgateway fails with `Bad Request`
It is not printing HTTP response code either.  There should be more info in the logs to debug.

Output:
[code]

Here is my configuration
[code]

A direct curl call works and pushes the metrics.
`"some_metric 3.14" | curl --data-binary @- http://prometheus-pushgateway:9091/metrics/job/some_job -v`

[2019-08-29 04:33] cdsap commented on #102
hi @vipsy, thanks for the report. Checking now.

[2019-08-29 12:01] cdsap commented on #102
hi,
fixed in #103 and available snapshot here:
[code]

[code]

There were several problems:

* Formatting build metrics labels was incorrect. After the refactor of 1.x this problem was not catch.  That's why the error message
*  Both dimensions were submitting to the same job, now each one is reporting to specific job.
*  No format for the error response. Now is property formatted.

Finally, I hav

[2019-08-30 04:01] cdsap commented on #102
hi,
release 1.0.5 published.
I've added a custom testcontainer for PushGateway for the e2e tests(#104 )

Problem reported in this issue fixed, please let me know if you have more problems.

[2019-08-30 11:14] vipsy opened #106 "pushgateway publisher fails when module name contains "-""
When adding a module named `test-module` to an app, it fails to parse the data properly.

[code]

it can send `build` metrics but fails in `task` metrics.

[2019-08-30 12:40] vipsy commented on #102
This has solved the original problem, Thank you.
Though there is a [follow-up issue](https://github.com/cdsap/Talaiot/issues/106) noticed

[2019-08-30 13:12] cdsap commented on #106
thanks again for the report.
I see the problem with the module name containing `-`. The label for the metric doesn't allow the character.
I published a hotfix replacing the characters for `_`.  Version 1.0.6 available now
Now the label would be:
`:test_module:assemble`
You can check #107

[2019-08-30 17:54] vipsy commented on #106
my problem got resolved using 1.0.6 and I could get it to publish to Prometheus.
anything else you noticed as you re-opened the issue?

[2019-08-31 01:38] cdsap commented on #106
Accidentally I closed the issue, that's why I reopened.
Anyways I can close it?

[2019-09-09 14:50] cdsap commented on #106
Hi @vipsy
can I close these issues?

[2019-09-09 16:28] vipsy commented on #106
Yes it’s good now. Please close.

[2019-09-10 05:16] cdsap commented on #106
solved

[2019-09-10 05:16] #106 closed

[2019-09-10 05:17] cdsap commented on #102
solved

[2019-09-10 05:17] #102 closed

[2019-09-10 08:45] cdsap commented on #86
Hi @stepango, can I close the issue? Is fixed since 1.0.3?

[2019-09-10 08:55] #101 closed

[2019-09-14 02:41] stepango commented on #86
Hi, yes. Issue is fixed

[2019-09-14 02:41] #86 closed

[2019-09-18 17:07] vipsy opened #114 "git metrics are not being populated"
when you add
   ` metrics {
        git()
}`
It should populate git branch and username into metrics.
But they are not being populated.

[2019-09-19 15:52] cdsap commented on #114
thanks for the report, I will check it

[2019-10-14 14:17] emartynov commented on #91
I bumped into it today. Can you share what should I change and how to make upload passing?

[2019-10-14 14:20] emartynov commented on #91
Oke I found it is default name of the retention. I just started docker image. How can I see influx database? Let me digg further.

[2019-10-14 15:05] emartynov commented on #91
Oke found the database script creation - nothing special. So I'm going to the plugin source now to find retention usage.

[2019-10-14 15:29] emartynov commented on #91
So I run next query to create retention policy `q=CREATE RETENTION POLICY rpTalaiot ON tracking DURATION 52w REPLICATION 1 DEFAULT`.

After this, I don't see log message and I see points in Graffana.

[2019-10-14 17:00] emartynov opened #117 "Add documentation about groovy configuration"
I'm not fluent in gradle as well I'm not fluent with conversion groovy to kotlin gradle.

It took me some time to find corresponded groovy code for the configurations.

[2019-10-14 17:14] emartynov opened #118 "Default Grafana change"
Question: Is it possible and would it be handy to modify dashboard/graphs to see any task from gradle build run?

It is nice to see graphs for the requested tasks. But would be great also to see other tasks graphs.

[2019-10-15 00:36] cdsap commented on #117
Hi @emartynov thank you very much for the comment. I understand perfectly and I will work in the doc for groovy!

[2019-10-15 04:10] emartynov commented on #117
No complaints at all! I'm so happy I found Talaiot. It is just reminder for missing things.

[2019-10-16 01:38] cdsap commented on #118
Hi @emartynov,
If you are using the plugin with `InfluxdbPublisher` and you have a conf like:
[code]
the tasks are being recorded.

In the Dashboard used by default we are considering only the builds data. But it doesn't mean we don't have the tasks.
The entryPoint is called "task" or the value included in the `taskMetricName`. If you create a new graph you can select the "task" table and you will

[2019-10-16 08:36] emartynov commented on #118
@cdsap Appreciate it!

Yesterday I installed the command-line tool and were able to explore data in the database.
It is just a matter of time to learn the Grafana and database matching.

Thank you for the great tool. I'm going to speak on the local meetup about it.

[2019-10-16 08:36] #118 closed

[2019-10-17 01:56] cdsap commented on #118
Thanks @emartynov let me know if you need anything!

[2019-10-21 16:37] p-agapov opened #119 "Plugin was not found (KTS)"
Got this stack trace:
![2](https://user-images.githubusercontent.com/16005613/67223934-df1bd580-f438-11e9-8e3a-8a53eb528f91.png)
build.gradle.kts:
![1](https://user-images.githubusercontent.com/16005613/67223926-da572180-f438-11e9-9563-45e03a483355.png)

If specify the plugin version:
![image](https://user-images.githubusercontent.com/16005613/67224470-f0b1ad00-f439-11e9-8b17-5ed3348a4ec8.png)
Sta

[2019-10-21 17:34] tinder-inakivillar commented on #119
hi @p-agapov, thank you very much for the report.
You're right, the plugin is not applying correctly when we are using kts. I tried to do the same with groovy and it works ok. This pushes me to think about how Gradle is including in the classpath the kts compiled files.
I used previously Talaiot with kts and I can share some alternatives:
1- Include the plugin in the main entry module of the app c

[2019-11-02 00:15] cdsap opened #120 "Check compatibility with Gradle 6.0"

[2019-11-04 02:54] cdsap opened #121 "Fix the correct sample project and Readme"
Readme still is pointing to the archived repository. Since changes from Anton were merged we should use the sample project

[2019-11-04 03:18] cdsap commented on #121
done

[2019-11-04 03:18] #121 closed

[2019-11-05 18:32] cdsap commented on #79
hi @tagantroy looks like we will have some good news for 3.6:

<img width="318" alt="Screen Shot 2019-11-05 at 10 30 54 AM" src="https://user-images.githubusercontent.com/475733/68235123-895a3800-ffb7-11e9-910c-f45e3f8fc212.png">

[2019-11-09 04:29] cdsap commented on #114
Fixed and merged, available as snapshot.
Sorry for the delay, I was moving to another country.
Let me know if it works for you.

[2019-11-26 11:07] ipereziriarte opened #128 "Unable to load sample data"
I'm trying to populate the influxdb with sample data, following the docker sample steps.

After installing the docker image, etc I built the sample project and run
`bash scripts/populate.sh`

On the first run, I faced the issue:
[code]
That I fixed by changing the dependencies in the sample project:
![Screenshot 2019-11-26 at 11 02 09](https://user-images.githubusercontent.com/1949825/69623114-8bf

[2019-11-26 12:22] ipereziriarte commented on #128
After more investigation I found this error
[code]

I managed to fix the sample editing the sample `build.gradle.kts` file and adding the following:

[code]

[2019-11-26 19:46] cdsap commented on #128
@ipereziriarte thank you very much for the report.
the issue with the sample is fixed in the #129
Regarding the second issue with the Retention policy, we had previously problems with the same issue, the original problems comes from:
https://github.com/influxdata/influxdb-java/issues/373
 I will revisit again this issue and try to give better solution.

[2019-11-27 04:26] cdsap commented on #128
regarding the problem of the retention policy, is fixed here:
https://github.com/cdsap/Talaiot/pull/130

Problem was we were creating the database in the Docker image.
Docker image pushed and tested ok.

Thanks for the report

[2019-11-27 07:03] ipereziriarte commented on #128
Thanks for the quick response @cdsap 👍

[2019-11-30 17:21] cdsap commented on #73
client Talaiot is the sample projec

[2019-11-30 17:21] #73 closed

[2019-11-30 17:21] cdsap commented on #114
@vipsy have you tried? Can I close this issue?

[2019-11-30 19:22] vipsy commented on #114
Hi, I am yet to try the new version but you can close if it's working. I will integrate it later.

It must be very exciting to move to a new country.
Cheers.

[2019-12-11 14:00] emartynov commented on #120
Is it still open? I think we recently lost our stats publishing to influx db. We upgraded to Gradle 6.0 and gradle enterprise plugin 3.0.

[2019-12-12 01:31] cdsap commented on #120
Hi @emartynov
PR was created https://github.com/cdsap/Talaiot/pull/124/files and need to run more integration tests before merging.
What was the reason for:
`I think we recently lost our stats publishing to influx db.` ?
How you were running InfluxDb instance?

[2019-12-17 15:15] MyDogTom opened #131 "influxDbPublisher doesn't send data when "--no-daemon" is present"
I noticed that when Gradle task is executed with `--no-daemon` data doesn't reach InfluxDB. In the log I still see
[code]
but data is absent.

Is that expected behavior?

[2019-12-17 22:14] MyDogTom opened #132 "Gradle tasks abbreviation and "requestedTask""
Gradle supports [task abbreviation](https://docs.gradle.org/current/userguide/command_line_interface.html#task_name_abbreviation)

For example, I can execute:
`gradle assembleDebug`
`gradle assDeb`
`gradle aD`

All these are the same task, but they will be reported differently in `build.requestedTask`.

I wonder is that possible to always detect a full name for `requestedTask`? This would simplify

[2019-12-18 01:21] tinder-inakivillar commented on #131
hi @MyDogTom
thank you very much for the report, I have found a bug using the executor service.
I will work on a new update, I'm considering using coroutines but I need to double-check everything is ok

[2019-12-18 01:22] tinder-inakivillar commented on #132
hi @MyDogTom
thanks again for the report. You're right we need to support task abbreviation

[2019-12-18 01:23] cdsap commented on #128
Hi @ipereziriarte can I close this issue?

[2019-12-18 07:01] ipereziriarte commented on #128
Yes sure!

El mié., 18 dic. 2019 2:23, Iñaki Villar <notifications@github.com>
escribió:

[2019-12-19 02:05] #128 closed

[2019-12-19 08:26] MyDogTom opened #133 "Should "task breakdown" dashboard include only tasks with `rootNode = false`?"
`rootNode` documentation says

As I understand that, if task has `rootNode = true` , then duration (`value`) includes duration of all other tasks. In that case "Task breakdown" dashboard should include only tasks with `rootNode = false`.

Do I understand it correctly?
If yes, then I suggest to change current query
[code]

to

[code]

[2019-12-19 14:22] MyDogTom commented on #132
There is one very similar use case. Both `:app:assembleDebug` and `app:assembleDebug` are the same task.

[2019-12-22 04:18] #132 closed

[2019-12-23 01:16] #131 closed

[2020-01-06 02:23] cdsap commented on #133
happy new year @MyDogTom
I checked the dashboard panel and you're completely right.
Changed, pushed last image in Docker Hub and PR created!
Thanks

[2020-01-06 02:33] #133 closed

[2020-01-10 11:17] ipereziriarte opened #138 "Documentation about custom publisher is outdated"
Hi,

I'm on the process of writing a custom publisher for the internal use of my team. And I found quite confusing the mismatch between the wiki, the docs page and the actual values.

### ISSUE

 I realized that the documentation in this [link](https://github.com/cdsap/Talaiot/wiki/Publishers#custompublisher) refers to:

[code]
Where `TaskMesasurementAggregated` contains all the aggregated metrics

[2020-01-13 01:40] cdsap commented on #138
Hi, thank you very much for the issue.
Doc Publishers has been updated and contains the current way to create new publishers.

https://github.com/cdsap/Talaiot/wiki/Publishers#custompublisher

[2020-01-13 13:32] ipereziriarte commented on #138
Thanks @cdsap I'm going to close the issue :)

[2020-01-13 13:32] #138 closed

[2020-01-28 16:54] MyDogTom opened #140 "Error in InfluxDbPublisher when filter is applied"
I have the following Talaiot configuration
[code]
When I execute a task that doesn't match filter `gradle :base-api:assembleDebug`. Also in that case `base_ui:assembleDebug` is never executed. I receive the following error
[code]

1. From the error message it's unclear what is wrong.
2. As I understand, `filter` configuration influences only tasks. In that case it should be completely irrelevant b

[2020-01-28 17:02] MyDogTom opened #141 "Feature request: Add filter option for build"
As I understand existing `filter` configuration influences only tasks. In my case I'd like to publish data only if `requestedTasks = ":app:assembleDebug"` and build was successful. As far as I see, it's not possible to achieve. Please correct me if I'm wrong.

I propose to enhance `filter` configuration and have something like
[code]

I'd love to try implement that if you are open for such contrib

[2020-01-29 02:24] cdsap commented on #140
thanks @MyDogTom checking it today

[2020-01-30 05:25] cdsap commented on #141
I thinks is a very good feature. Feel free to contribute :)

[2020-01-30 05:37] cdsap commented on #140
@MyDogTom

1- The error is coming from InfluxDb, as you can see https://github.com/influxdata/influxdb/issues/12248 it refers to a problem in the format of some field/tag. But like you commented is not very descriptive the error.

2- With `publishTaskMetrics: false` you won't send the task information so there is no problem there.

I tried to check the output of your error to see if there is any p

[2020-02-01 12:52] MyDogTom commented on #140
Hi @cdsap ,
I created an example project: https://github.com/MyDogTom/talaiot-filter-tasks-bug and opened a PR to fix the issue.

Issue happens when `tasks` list is empty because of `filter` configuration. I think `cacheRatio` should use `unfilteredTasks` list instead

[2020-02-02 01:35] #140 closed

[2020-02-02 03:55] cdsap commented on #140
PR merged, checked and works.
Thx

[2020-02-16 04:02] cdsap commented on #47
Closing, not reproducible

[2020-02-16 04:02] #47 closed

[2020-02-16 04:03] cdsap commented on #114
Hi @vipsy I'm closing this issue as I don't reproduce it anymore, in case it still happening for you we can reopen

[2020-02-16 04:03] #114 closed

[2020-02-17 17:05] cdsap opened #144 "Include RethinkDbPublisher"

[2020-02-17 17:06] cdsap commented on #144
implemented #143

[2020-02-17 17:06] #144 closed

[2020-03-07 05:56] bellini-ea opened #150 "Unable to find plugin"
I've added `id("talaiot") version "1.1.0"` to my build.gradle.kts but I'm getting the following.  Happens with or without specifying the version number in the id() declaration.

[code]

[2020-03-07 06:39] bellini-ea commented on #150
I got it to work by adding the resolution strategy to the settings.gradle.kts file.  I followed the sample in the repo.  Maybe the readme should mention that?  I also did not have to add the classpath.

`version = "0.1.0"

repositories {
    mavenLocal()
    mavenCentral()
    jcenter()
}

plugins {
    java
    application

    id("talaiot") version "1.1.0"
}

dependencies {
    implementation("c

[2020-03-07 06:58] bellini-ea opened #151 "Dashboard in readme does not exist"
In the populating data section, it talks about using the docker image get grafana going.  I got the image going and grafana up however the reference to the dashboard doesn't show up:
`
If you access to the provisioned Dashboard included in the Docker Image(http://localhost:3003/d/F9jppxQiz/android-task-tracking?orgId=1), you will see an empty dashboard like:`

[2020-03-07 18:15] cdsap commented on #150
Hi @bellini-ea, thank you very much for the report.
Indeed, you're right and the configuration under kts requires a workaround.  We have plans to push the plugin to Gradle Portal(actually it's only in bintray) and this will help in setup properly the configuration.
We have plans to do it ASAP.

[2020-03-07 20:10] cdsap commented on #151
Checking... Thanks for the report

[2020-03-08 02:47] cdsap commented on #151
Hi again @bellini-ea, I repeated the process and it worked:
1- I executed:
[code]
2- I checked the Dashboard http://localhost:3003/d/F9jppxQiz/talaiot?orgId=1:
<img width="1238" alt="Screenshot 2020-03-07 at 18 43 35" src="https://user-images.githubusercontent.com/475733/76155650-98efa780-60a3-11ea-9e2c-d4e8887cbdb2.png">

3- I executed:
[code]
4- I saw the results populating the dashboard:
<img w

[2020-03-08 02:58] cdsap commented on #141
done by @MyDogTom
thanks

[2020-03-08 02:58] #141 closed

[2020-03-08 02:59] bellini-ea commented on #151
Hi.  Thanks very much for your time.  Below are what I get.  I have not run the populate.sh however since I have my own data going to influx.

![image](https://user-images.githubusercontent.com/46908694/76155757-84141380-60a5-11ea-8ad0-d6784788ea20.png)

![image](https://user-images.githubusercontent.com/46908694/76155760-94c48980-60a5-11ea-8923-c77496a4c2b0.png)

[2020-03-08 03:09] cdsap commented on #151
Got it,
I see you're using a different Docker image. The example in the README is intended to use with the Talaliot Docker image.
But no problem, you can import the dashboard:
https://github.com/cdsap/Talaiot/blob/master/docker/grafana/dashboards/talaiot.json
And create in Grafana the dataset for InfluxDb with*:

<img width="741" alt="Screenshot 2020-03-07 at 19 06 42" src="https://user-images.git

[2020-03-08 05:01] bellini-ea commented on #151
I see!  The way I read the readme I had to go to get the image from philhawthorne/docker.... but you have in your repo here!  I used that it works fine!  Thanks for clarifying.

[2020-03-08 05:01] #151 closed

[2020-03-08 05:02] #150 closed

[2020-03-11 03:57] cdsap opened #152 "RethinkDbPublisher, define timeout"
When there are problems of connectivity with `RethinkDbPublisher` executions hangs with:
[code]
Check timeout options in RethinkDbPublisher

[2020-03-12 08:42] mokkun opened #154 "Question: HostnameMetric is not used, why?"
Hi,
I've noticed that the `SimpleMetrics.kt` file contains a [`HostnameMetric` class](https://github.com/cdsap/Talaiot/blob/b0e532ae76e31c40fc6e931da76a72238e732290/talaiot/src/main/kotlin/com/cdsap/talaiot/metrics/SimpleMetrics.kt#L82) and that it is not used.
I was actually implementing my own hostname metric since I didn't see it in the JSON generated report.

Then I notice that it [is already

[2020-03-12 10:42] mokkun opened #155 "Question: adding custom Metric into configuration"
I'm playing around with custom metrics and read the bits about [Extending custom metrics](https://github.com/cdsap/Talaiot/wiki/Metrics#extending--custom-metrics). I've done the following and it works fine (Groovy):

[code]

But it would be interesting to have a method that takes a `Metric` and adds it into the `MetricsConfiguration.metrics` list.

[code]

This would allow us to:

1. Have only cus

[2020-03-12 21:47] cdsap commented on #154
Hi @mokkun thank you very much for the report.
You're right. I'm going to check it and create PR

[2020-03-13 07:07] mokkun commented on #154
Thanks for the great work. Let me know if I can help, either with creating a PR or reviewing it. 👍

[2020-03-15 00:22] cdsap commented on #154
hi @mokkun
PR created https://github.com/cdsap/Talaiot/pull/157 please let me know what do you think

[2020-03-15 01:02] mokkun commented on #154
Great, thanks. I will check it now. :+1:

[2020-03-15 03:02] cdsap opened #158 "Unify SimpleMetrics with Provider for Publishers"
`InfluxDbPublisher`, `ElasticSearchPublisher` and `RethinkDbPublisher` are duplicating the parse of the SimpleMetrics included in the default configuration, for instance `ElasticSearchPublisher`:
[code]

We need to provide a better approach using a provider parsing in the appropiate type for the consumer Publisher

[2020-03-15 17:09] cdsap commented on #120
done and merged in the last release. Closing this issue

[2020-03-15 17:09] #120 closed

[2020-03-17 09:16] MyDogTom opened #159 "Version 1.2.0 is not available"
According to https://bintray.com/cdsap/maven/talaiot the latest available version is 1.1.0.  Version bump in my project also fails. Was there something wrong with the latest release?

[2020-03-18 00:47] tinder-inakivillar commented on #159
Hi @MyDogTom
`1.2.0` contains the change of the plugin to be deployed in the Gradle Plugin Portal.
It also includes the change, following the convention recommended by Gradle,  the naming of the Plugin: `com.cdsap.talaiot`
Do you think I should provide a couple of versions more with Bintray?
It's not a problem for me to update it again to Bintray

Another question, when I publish the releases I po

[2020-03-18 00:50] cdsap commented on #159
btw this is the recommended conf:

## Kotlin

Using the plugins DSL
[code]

Using legacy plugin application:

[code]
### Groovy

Using the plugins DSL:
[code]

Using legacy plugin application:
[code]

[2020-03-18 13:21] MyDogTom commented on #159
Thank you! With `maven { url "https://plugins.gradle.org/m2/"  }` and `apply plugin: "com.cdsap.talaiot"` everything works.

My account is `@schatchenko`.

[2020-03-18 13:21] #159 closed

[2020-03-21 16:40] MyDogTom commented on #155
It's already possible. Such

[2020-03-21 16:42] MyDogTom commented on #155
It's already possible. Such config looks like
[code]
Pay attention that in this case you have to specify all metrics manually.
You can find an example here https://github.com/MyDogTom/ConfigureTalaiot
I also tried to give more details in that article: https://medium.com/@mydogtom/explore-talaiot-plugin-configure-metrics-5ef3ae9a8c5d

[2020-03-22 07:59] mokkun commented on #155
Hi @MyDogTom,
Thanks for the sample and references. I've ended up doing what you suggested but felt it was a bit hacky.

The syntax `metrics.metrics.add(...)` feels weird to me, and maybe it would be nicer to have a proper method for it without exposing the mutable `metrics` list. Or at least change the naming to make clear that `metrics.metrics` means `MetricsConfiguration.MetricsMutableList`.

D

[2020-03-22 08:03] mokkun commented on #154
Will take the liberty and close this, since it is solved by #157.

[2020-03-22 08:03] #154 closed

[2020-03-22 23:59] cdsap commented on #155
@MyDogTom this is an awesome article, thanks!

@mokkun I'm working in the unification of the metrics provider in #158, later I can address this issue. But if you or @MyDogTom have any suggestion, feel free to reach out

[2020-03-24 20:16] MyDogTom commented on #155
one addition to that. In Groovy I could do like that
[code]
but I cannot do
[code]
I'm not sure why. I guess the name `default` overlaps with an existing Groovy function or a function generated by Gradle.
Would be nice to rename it as well.

[2020-03-31 04:37] cdsap commented on #158
@MyDogTom @mokkun if you have time and you want to review, here is the PR https://github.com/cdsap/Talaiot/pull/160

[2020-04-01 16:37] cdsap commented on #158
#160 is solving this issue

[2020-04-01 16:37] #158 closed

[2020-04-01 16:38] cdsap commented on #119
hi @p-agapov
after updating to Gradle 6 and deploying to plugin portal this issue should be solved

[2020-04-05 23:59] mokkun commented on #155
@cdsap I have some time this week and would like to give this one a go if that's okay. :)

[2020-04-06 03:58] cdsap commented on #155
sure @mokkun
thanks!

[2020-04-06 10:54] mokkun commented on #155
@MyDogTom

I think you are right. Other names I can think of are `common()`, `basic()` or `standard()`, but not sure. :thinking:

[2020-04-06 13:00] MyDogTom commented on #155
I'd actually go with something more verbose but also more self explaining. Like: `enableStandardMetrics`, `enablePerformanceMetrics`, `enableGitMetrics` etc.

[2020-04-09 09:14] mokkun commented on #155
@cdsap @MyDogTom I've added a PR with a proposal. https://github.com/cdsap/Talaiot/pull/162

[2020-04-09 09:42] mokkun commented on #155
I'd just avoid using the word `enable`, making it `defaultMetrics`, `performanceMetrics` and so on instead. Reason being, we are not enabling/disabling the metrics, we are adding/removing them. That's my interpretation of it at least. :thinking:

[2020-04-10 01:38] cdsap opened #163 "Update Metrics Doc"
#162 implements a better API for metrics.
We will need to update the README with a complete explanation of the current conf for metrics.

[2020-04-11 02:32] mokkun commented on #152
Maybe we could use an `ExecutorService` and await the execution with a timeout?

[code]
The timeout could be set as a constructor property in the `RethinkDbPublisher` class, to allow customization.

[2020-04-11 02:38] mokkun commented on #152
Also, this issue may also happen with other executors like `ElasticSearchPublisher` and even `InfluxDbPublisher`? `InfluxDbPublisher` has a timeout for the connection, but not for the `Executor`.

It would be interesting to create a common implementation for those `Publisher`s that need to execute network I/O (or any I/O for that matter).

[2020-04-11 18:02] cdsap commented on #152
Hi @mokkun
First, yep, the case using `awaitTermination` covers the case for the `RethinkDbPublisher`. It should be applied for the other publishers, but in case of InfluxDb it's defined in the api of the influx client.

This bring to your second point about the "Network" implementation for the interface Publisher. I'm absolutely agree. Talaiot needs to implement a consistent network layer.
Before

[2020-04-11 19:47] MyDogTom commented on #152
Sorry I'm afraid I don't have enough knowledge to give a valuable input here. I'll definitely take a closer look at the implementation to learn more.
btw, time to time I also see

with `InfluxDbPublisher`, but only one occurrence per build.

[2020-04-12 06:43] #155 closed

[2020-04-12 06:47] mokkun commented on #163
My apologies should have added this with #162. I'll make a PR this week. :+1:

[2020-04-12 07:03] mokkun commented on #152
One idea would be to provide these publishers as external plugins to Talaiot. These publishers are very specific IMO, and many projects won't use them.

The main module of Talaiot could provide the base APIs for those plugins, but the network logic and dependencies would be contained in them, instead of in the main module.

Sounds good to me. :+1:

[2020-04-13 03:06] cdsap opened #164 "Detach the main Plugin dependencies by Publisher"
Until now, we are using a single dependency including all the dependencies required by the different implementation of the plugins.
For example, if I'm using InfluxDb I'm including in the classpath of the project dependencies like RethinkDb or ElasticSearch. This is something we want to improve reducing the impact in terms of dependencies and making more clean the implementation of the project.

T

[2020-04-13 03:12] cdsap opened #165 "New Implementation layer Network I/O"
We have seen in different issues like #152 (see discussion) the need to implement a better approach for the Network operations.
The publishers can use dependencies that abstract the implementations but still we can keep the consistency between the different components.
We are scheduling the work tasks with the Java 'Executor' API but it would be ok to use Coroutines(now we don't have specific prob

[2020-04-13 03:18] cdsap commented on #152
Hi, it sounds good the detachment of the publisher by offering a new dependency.

Given the scope of the changes, I've created a new milestone to publish the 2.0 release version. At the moment I included two new issues:
https://github.com/cdsap/Talaiot/issues/164
https://github.com/cdsap/Talaiot/issues/165
I'm going to take the Detach the main Plugin dependencies by Publisher.
Feel free to work in

[2020-04-25 00:53] cdsap opened #168 "Discussion DSL Metrics"
In https://github.com/cdsap/Talaiot/pull/167 @MyDogTom commented:

It's a very valid point.
This issue is to discuss how we can offer a better approach for customizing metrics

[2020-04-28 22:58] MyDogTom commented on #168
I propose the following DSL
[code]
Like that built-in metrics are disabled only when it's explicitly specified. I believe this should eliminate possibility for confusion while keeping the same flexibility level.

[2020-04-29 06:59] mokkun commented on #168
I like @MyDogTom's proposal, and it also matches our current DSL for publishers:

[code]

[2020-04-29 07:06] mokkun opened #170 "Proposal: allow more than one custom Publisher"
Our current DSL only allows a single custom Publisher:

[code]

I'd like to propose that we implement a similar solution to the one used for custom metrics. Something like:

[code]

[2020-04-30 03:26] cdsap opened #171 "E2E Test covering Remote Cache Integration"
We need to create a E2E test integrating a Remote Cache instance in Gradle. It was discussed here https://github.com/cdsap/Talaiot/pull/169
We need:
-  a custom TestContainer using a Redis Instance as Gradle Remote Cache
- Test integrating the testContainer and the use cases.

[2020-04-30 03:30] cdsap commented on #170
Ok, it makes sense.

[2020-04-30 03:32] cdsap commented on #168
got it, what would  the expectation when we have:
[code]
or
[code]

[2020-04-30 17:20] MyDogTom commented on #168
In both cases expectation is that standard set of metrics is used since the user did not change any metrics configuration.

[2020-05-04 02:03] cdsap opened #174 "Prepare Release 1.3.0"
Once we confirm #171  we need to create a new release with the latest PRs.
Tasks included in the milestone 2.0.0 are not included in this PR

[2020-05-04 02:06] cdsap commented on #168
ok, perfect, can we create a new task to implement the new proposal?

[2020-05-04 02:06] cdsap commented on #174
question, do we want to include the task generated after the discussion in #168 in the release?

[2020-05-04 22:37] MyDogTom commented on #168
Do you mean "issue"? For me it's fine to use current issue for the implementation as well. Actually I opened a PR with an implementation: #175

[2020-05-04 22:39] MyDogTom commented on #174
I'd include #168 since it's another breaking change. Same as #167.

Btw, I think next release deserves a migration guide explaining how metrics configuration should be adjusted.

[2020-05-05 03:13] #171 closed

[2020-05-05 03:24] cdsap commented on #174
in that case, maybe we should bump to 1.3.0. What do you think?

I can work on that this week

[2020-05-05 03:26] cdsap commented on #168
yep, you're right.
 I merged the PR.

[2020-05-05 03:26] #168 closed

[2020-05-05 06:26] MyDogTom commented on #174
I agree. 1.3.0 is better.

[2020-05-08 03:40] cdsap commented on #174
being very busy this week(AS performance is decreasing), still preparing the migration lines

[2020-05-10 09:12] mokkun commented on #163
Sorry about the huge delay on this. I've made #176 to fix this issue.

[2020-05-11 05:12] #163 closed

[2020-05-11 08:21] mokkun commented on #174
@cdsap @MyDogTom do you think we can include https://github.com/cdsap/Talaiot/issues/170 in this release as well? I can do some work on it this week and hopefully have something ready for review until next week?

[2020-05-11 08:29] MyDogTom commented on #174
I agree. It would be logical to include this change in release to be consistent with other DSL changes.

[2020-05-14 00:42] cdsap commented on #174
@mokkun let me know if I can help in the #170

[2020-05-14 15:21] horseunnamed opened #177 "Proposal: Allow custom metrics to be computed based on tasks length"
Hello. I want to create custom build metric that computes total duration for some subset of executed tasks.

In current master branch I found abstract class `ExecutedTasksMetric` and it looks like appropriate choice for such use cases. But in provider for `ExecutedTasksMetric` we can only access `ExecutedTasksInfo` that doesn't have info about tasks duration.

It would be nice to also have access

[2020-05-15 01:50] cdsap commented on #177
Hi @horseunnamed , thank you very much for the proposal.
It's very interesting the request, I'm thinking how to implement it without breaking the recent modularity we are applying to the Metrics components.

In the case ExecutedTasksInfo, it's special case and comes from the implementation of the new measuring cache hits, developed by @MyDogTom. In the PR(#169) it includes the description:

That's

[2020-05-15 06:39] horseunnamed commented on #177
Thanks for your reply!

I've thought about implementing my aggregation with custom publisher, but problem is that I want to also send this information to InfluxDB and I'm currently using `InfluxPublisher`.
The only option I came up with is to register my custom publisher before `InfluxPublisher` and mutate instance of `ExectuionReport` before it comes to `InfluxPublisher`. But I haven't tried it y

[2020-05-18 06:54] MyDogTom commented on #177
@cdsap I think it would be beneficial to allow people perform some extra actions before publishing.
Actually, while changing [`TalaiotPublisherImpl`](https://github.com/cdsap/Talaiot/pull/169/files#diff-983ede378685c8d2be014e8438faeffbR65-R80) I was thinking that `TalaiotPublisherImpl` mixes two responsibilities: prepare/modify data and publishing data. Separate metric could be responsible for the

[2020-05-18 22:29] mokkun opened #181 "Update Publishers documentation"
Update the [wiki for Publishers](https://github.com/cdsap/Talaiot/wiki/Publishers#custompublisher) with the changes from https://github.com/cdsap/Talaiot/pull/178.

[2020-05-18 22:34] #170 closed

[2020-05-19 07:58] mokkun commented on #117
Specific documentation for Groovy might not be ideal because it involves a lot of duplication and in most cases, the DSL is almost the same. But I agree with OP that it can be challenging for newcomers to find the right way of doing things in Groovy.

My suggestion would be to have a sample project that uses Groovy, just like the one we have for Kotlin. It would be easy for us to maintain, and it

[2020-05-19 12:37] MyDogTom commented on #174
I'm closing since [1.3.0](https://github.com/cdsap/Talaiot/releases/tag/1.3.0) is released.

[2020-05-19 12:37] #174 closed

[2020-05-19 12:57] horseunnamed commented on #177
@MyDogTom, thanks for your suggestion! It's an interesting idea. And it seems like I can accomplish this by using `Hybrid Publisher` to configure publishing of tasks and build metrics with different retention policies for InfluxDB.

But actually it looks to me like too complicated way, because I don't really want to transmit and store (even very temporarily) detail information about all tasks on l

[2020-05-20 03:40] cdsap commented on #177
@MyDogTom Totally agree with these statements. We need to detach the responsibility of the preparation of the data.

I really like the concept of "Transformation", new entity that cover uses cases like the one explained by @horseunnamed, given an input(default List of `TaskLenght`) we apply the transformation defined. And the output will be notified to the publishers.

We can notice that currently

[2020-05-20 03:41] #119 closed

[2020-05-20 03:41] #56 closed

[2020-05-20 20:26] MyDogTom commented on #177
I propose to approach this task in two steps.

**Step 1**. Implement `Transformation` mechanism where transformer is limited to existing `ExecutionReport` data structure. Basically it can only modify existing fields like `cacheRatio`, `tasks` or `customProperties`. It means that  transformer cannot produce data with several rows but has to flatten data into `customProperties`.

**Step 2**. Add pos

[2020-05-27 12:45] horseunnamed opened #184 "Critical path computation question"
Hi. In `ExecutionReport` I [found](https://github.com/cdsap/Talaiot/blob/52013d0b8b50d92f42b283246f0ffa8b2acdc9e4/talaiot/src/main/kotlin/com/cdsap/talaiot/entities/ExecutionReport.kt#L56) method that estimates critical path of build. I think that this estimation is working well on builds with high count of workers. But I doubt that it can always find longest tasks execution path on builds with lo

[2020-05-28 05:24] MyDogTom opened #186 "InfluxDb publishing fails after 1.3.0 update"
I couldn't update to 1.3.0 version, because `InfluxDbPublisher` fails with
[code]

I'll investigate further later this week to understand if it's a general problem or my local problem.

[2020-05-28 05:46] cdsap commented on #184
Hi @horseunnamed
Thanks for the question/suggestion.
I would say the current implementation it's just an initial approximation. As you mentioned, there are more factors to consider in the calculation of better cirtical path.

I found very interesting your comment:

Do you have more details/resources about this?

We would be more than happy in receive a contribution for a new Publisher. I think we

[2020-05-28 10:41] MyDogTom commented on #186
@cdsap I think I found the reason.
When `DefaultBuildMetricsProvider` was introduced, type of `start` field changed.
from [`report.beginMs?.let { addField("start", it.toDouble()) }`](https://github.com/cdsap/Talaiot/pull/160/files#diff-3bc22ee8b166c0653d9f3234e75d8f43L170)
to [`beginMs?.let { map["start"] = it.toLong() }`](https://github.com/cdsap/Talaiot/pull/160/files#diff-a8f7b21df5864edc53371a

[2020-05-29 01:50] #186 closed

[2020-05-29 01:55] cdsap opened #188 "Support migration for InfluxDbPublisher when types have changed"
Issues like #187 are caused when we change types in `ExecutionReport`.
It's specific for InfluxDb Publishers. We need to investigate it and provide a guide in case we need to change types.

[2020-06-06 03:34] cdsap opened #190 "Ideas about Organization"
Hi, since the project has more contributors I think it would be nice to move the repository to an GH Organization.
What do you think @MyDogTom @mokkun?
My first thought is creating a Org called Talaiot but open to suggestions and discuss about this.

[2020-06-06 12:31] mokkun commented on #190
I think it is a good idea. :+1:

[2020-06-12 18:08] cdsap opened #192 "Node cannot be cast to java.util.HashMap$TreeNode"
We are using version `1.3.1` and we have seen in some builds(less than 1%):
[code]

The step has high pressure of memory and maybe it's not related with the library the error.

[2020-06-15 21:42] MyDogTom commented on #192
Looks like it was a bad idea to keep `ExecuteTaskBuildOperationType.Result` since we don't have control on this structure and  the size of it. That's might be the reason for the high memory pressure. I suggest to create our own structure tailored to our needs. My expectation is that such structure will have smaller memory footprint. I will open a PR with a proposal.

@cdsap Do you know which tool

[2020-06-18 03:28] cdsap commented on #192
in terms of the error it's fair to say it's happening not very often. We are having around 200 daily executions and I've seen in no more than 10 steps overall in 2 weeks.

I really recommend Gradle Profiler. I have sometime problems when it's executed in containers but it's quite flexible.
For regressions in changes of the build I use https://github.com/cdsap/Bagan It requires cloud k8s infrastruc

[2020-07-02 16:43] cdsap commented on #192
fixed with #194

[2020-07-02 16:43] #192 closed

[2020-07-18 17:11] cdsap commented on #164
@MyDogTom @mokkun  I'm working on this issue, but it's becoming a huge change.
Hope at the end of next week present you a draft. I really like how is the final result

[2020-07-25 03:43] tinder-inakivillar commented on #164
@MyDogTom @mokkun I won't go in much detail because is not finished and I would like to give more extensive description. But I should continue working next week on this.
At the moment I have pushed a new branch https://github.com/cdsap/Talaiot/tree/modular_talaiot/ if you want to take a look(again, is far for finished and still issues to be resolved and defined)

The main idea was modularizing the

[2020-07-27 02:15] mokkun commented on #164
Good stuff. Sorry I've been MIA for the past month or so. I will have time this week to look into this and help with the reviews. Sounds promising. :+1:

[2020-08-15 00:39] cdsap opened #197 "Builds are not reported properly with Gradle > 6.4"
Steps to reproduce:

- Project Gradle > 6.4

- `org.gradle.configureondemand` to true

- Talaiot version 1.3.3

- add influxdbpublisher

- `./gradlew :help -info`

Result:
No information published

[2020-08-20 14:50] pavel-vasilev opened #200 "Talaiot not working with gradle 6.6"
Hi, when i run any gradle task with enabled talaiot plugin my build fails, because talaiot use internal gradle api, that i think was removed in 6.6 version.
As quick fix for my project i can disable GradleScanLinkMetric via extension, but i think we should fix it.
To fix this problem we can add second condition so that metric will check that gradle version is between 5.0 and 6.6.
https://github.co

[2020-08-20 16:54] cdsap commented on #200
Hi @pavel-vasilev thank you very much for the ticket, recently we have seen problems in 6.4 and it was solved this week. But we didn't check Gradle 6.6
I'm going to try to reproduce it and I let you know.

[2020-08-21 02:01] cdsap opened #203 "Gradle 6.6/DefaultBuildScanEndOfBuildNotifier"
We have seen in #200 new api doesn't contain `DefaultBuildScanEndOfBuildNotifier`
This is stopping us to update to Gradle 6.6.
The implementation is hacky and we can't guarantee that Gradle applies future changes. We have to figure out if it's possible to retrieve the build scan in the new api.
What do you think @MyDogTom @mokkun ?

[2020-08-21 02:03] cdsap commented on #200
hi @pavel-vasilev I deployed a new version: `1.3.5`. It contains your suggestion to check the Gradle Version and fixes the issue(#201). Thanks.

additionally I created a discussion issue to consider the future of this type of metric and the implementation: #203

[2020-08-21 02:03] #197 closed

[2020-08-24 14:37] mokkun commented on #164
@cdsap I've check-out the POC branch and read the documentation. I really like the new structure. I didn't have time to dig deeper but I have a few questions.

If I understand correctly, we separate `plugins` and `publishers` to keep the logic separated, but I wonder if there is a real benefit from doing it. Seems like `influxdb` plugin depends on `influxdb` publisher.

Couldn't we group them in t

[2020-08-25 03:48] cdsap commented on #164
Hi @mokkun thanks for reading the doc.
The only reason to separate the entities publishing and plugin is having the flexibility to build plugins with several publishers.
For example, in case of legacy plugin Talaiot, the plugin contains all the publishers.
![Screen Shot 2020-08-24 at 8 35 12 PM](https://user-images.githubusercontent.com/475733/91120253-1905cb80-e64a-11ea-849d-ab187e598786.png)
You

[2020-08-25 06:06] mokkun commented on #164
Sounds good, thanks for the explanation.

[2020-08-26 03:08] cdsap commented on #164
ok, so are we ok to move forward?
In case affirmative I will start with "Implementation BuildSrc Plugins(without dependencies request/base-test-utils"

@MyDogTom anything to add?

[2020-08-27 16:21] cdsap commented on #200
@pavel-vasilev can I close this issue?

[2020-08-28 07:12] pavel-vasilev commented on #200
@cdsap ye, all works now thanks.

[2020-08-29 23:46] #200 closed

[2020-08-29 23:56] cdsap opened #204 "Abstract Build Logic Talaiot Module"
Abstract build logic of Talaiot Module creating a new Plugin that will help to the consumer define plugins more easy.
For example:
[code]

[2020-08-29 23:58] cdsap opened #206 "Create Library Folder"
In Talaiot 1.4 we are going to have different modules and we would need to leave the root folder as cleaner as possible:
This task requires create the folder "library" and place there current module Talaiot, docs and sample

![Screen Shot 2020-08-29 at 4 57 37 PM](https://user-images.githubusercontent.com/475733/91648149-d7de3480-ea18-11ea-9d62-b7b4ec025f0d.png)

[2020-09-01 16:47] cdsap opened #208 "Extraction module talaiot-base-request"
Extract Module Talaiot-base-request.
Initially, we need to extract the module and update the dependencies of Talaiot module. When we arrive to the creation of publishers/plugins we will need to update the dependency

[2020-09-01 16:48] cdsap opened #209 "Extraction module talaiot-base-test-utils"
Extract Moduletalaiot-base-test-utils
Initially, we need to extract the module and update the dependencies of Talaiot module. When we arrive to the creation of publishers/plugins we will need to update the dependency

[2020-09-07 18:44] cdsap commented on #206
done

[2020-09-07 18:44] #206 closed

[2020-09-07 18:44] cdsap commented on #204
done

[2020-09-07 18:44] #204 closed

[2020-09-07 18:45] cdsap opened #210 "Separate Jacoco/Test/Publishing conf"
Before #208 and #209 we need to separate the common build logic we are going to reuse in the other new plugins(request-logger-test-utils)

[2020-09-11 19:54] #210 closed

[2020-09-11 19:54] #208 closed

[2020-09-11 20:53] cdsap opened #214 "Create Legacy Plugin"
The first plugin we are going to offer in the new approach https://docs.google.com/document/d/1hBFNb-pCbX7P1rlHe9-y3vcGbMDLR9ve7sZwUfqluU0/edit# is the legacy plugin.
To achieve this we need:
-- Create a new folder for plugins
-- Create a new plugin with the functionality of Tinder base
-- Change the type of build plugin of Talaiot base/core

[2020-09-15 11:00] notsatyarth opened #215 "Collect details on time spent in Garbage Collection"
Hi there,

Would  it make sense to   add support for also collecting the  duration that the process spends in garbage collection. Collecting that info would be similar to how it's done at https://github.com/runningcode/gradle-doctor/blob/master/doctor-plugin/src/main/java/com/osacky/doctor/internal/DirtyBeanCollector.kt#L5

[2020-09-16 03:56] tinder-inakivillar commented on #215
hi @satyarths, thanks for the suggestion and it makes sense to include it

[2020-09-20 01:05] #209 closed

[2020-09-21 02:12] cdsap opened #217 "Create Base Plugin/Publisher"
Create plugin and publisher base.
Base contains the basic configuration to work with Talaiot.
The base publisher adds:
* JsonPublisher
* TimeLinePublisher
* OutputPublisher

This task will produce changes in the legacy plugin

[2020-09-21 02:16] cdsap opened #218 "Create HybridPublisher"
Create the Hybrid publisher. This publisher compose the different existing publishers.
At this point we don't have any publisher extracted but we can use the dependency:
hybrid-plugin --> core:talaiot

This task requires updating legacy plugin

[2020-09-23 04:20] cdsap opened #219 "Compatibility with configuration cache"
Gradle 6.6 adds configuration cache. Talaiot is not compatible:
[code]

[2020-09-24 16:34] cdsap opened #222 "Create Influxdb Publisher/Plugin"

[2020-09-24 16:34] cdsap opened #223 "Create Graph Publisher/Plugin"

[2020-09-24 16:34] cdsap commented on #214
done!

[2020-09-24 16:34] #214 closed

[2020-09-24 16:44] cdsap opened #224 "New folder Grouping core libraries"
Create a new logical folder to group the core libraries:
[code]

[2020-10-06 03:17] cdsap opened #227 "Hybrid Publisher"
We need to detach the Hybrid Publisher.
This publisher is used only by legacy plugin but still is available as dependency.

[2020-10-06 03:22] cdsap commented on #223
@mokkun I have assigned this issue to you. If you have time of course and you want.
In the PR closing the issue #222 I will include the steps required to create the publisher/plugin and you can use as guideline

[2020-10-06 03:23] cdsap commented on #217
done

[2020-10-06 03:23] #217 closed

[2020-10-06 03:23] cdsap commented on #218
#228

[2020-10-06 03:23] cdsap commented on #218
duplicated

[2020-10-06 03:23] #218 closed

[2020-10-06 03:34] mokkun commented on #223
Thanks, I will have a look. :+1:

[2020-10-08 03:50] cdsap commented on #223
Hi, I have created https://github.com/cdsap/Talaiot/pull/229 for Influxdb

As a guideline you can follow:

1.  Create modules Plugin and Publisher for component. Currently the path is:
     library> plugins > NAME > NAME-plugin - NAME-publisher
     Recommended package names are:
     Plugin -> com.talaiot.plugin.NAME
     Publisher -> com.talaiot.publisher.NAME

2. Setup Modules with KTS scripts:

[2020-10-09 02:45] #227 closed

[2020-10-09 02:52] cdsap opened #231 "Check nullability of the Publisher in the configuration provider"
In the Configuration Providers we are not checking properly the nullability.
It happens in all the plugins, more details https://github.com/cdsap/Talaiot/pull/230/files#r501772300

[2020-10-09 23:53] #223 closed

[2020-10-11 08:16] Alex009 opened #232 "InfluxDbProvider not write tags in build measurement"
hello!

Default graphana dashboard can't show graph with executed task because `build` measurement not contains any tags at all.
[code]
it's used query for graph.
in result we got one group without name:
![image](https://user-images.githubusercontent.com/5010169/95673625-80fd7a80-0bd4-11eb-8135-abe62b4c895c.png)

also chronograf show that `build` measurement not contains tags at all:
![image](http

[2020-10-12 01:43] cdsap commented on #232
Hi @Alex009 thanks for sending the issue.
I checked the code and you are completely right. This change was introduced in release 1.3(https://github.com/cdsap/Talaiot/commit/621d26a130af9b775fdd14a77f5cb68fc7122deb).

I'm still thinking that metrics and custom metrics should be provided as fields, for example high cardinality values like java memory metrics can affect the performance being tags.  B

[2020-10-12 02:00] Alex009 commented on #232
@cdsap in my case all my custom metrics should be tags, also all not numbers default metrics should be tags too, for example gitUser, gitBranch...
i think it will be correct if in publisher will be automatic resolving tags and fields by type of metric value - all number types should be fields, but others is tags.
or just give consumer ability to set list of tags metric names

[2020-10-13 01:12] cdsap commented on #232
@Alex009 it's very good idea, I think we will work soon on this feature for the influxfb plugin.

[2020-10-14 16:34] cdsap opened #234 "Create Plugin RethinkDb"

[2020-10-14 16:45] #222 closed

[2020-10-14 16:56] cdsap opened #236 "Creating Plugin ElasticSearch"

[2020-10-14 16:56] cdsap opened #237 "Creating PushGateway Plugin"

[2020-10-15 16:42] #234 closed

[2020-10-19 16:14] #236 closed

[2020-10-22 01:13] #237 closed

[2020-10-22 16:50] cdsap opened #242 "Add E2E tests for new Plugins modules"

[2020-10-22 16:51] cdsap opened #243 "Update README & Doc Talaiot 1.4"

[2020-10-22 16:52] cdsap opened #244 "Move graphviz-java dependencies to Graph Publisher"

[2020-10-22 16:55] cdsap opened #245 "Update Demo/Sample Project with the new plugins"

[2020-10-22 16:57] cdsap opened #246 "Define error message when we are using two different Talaiot plugins"

[2020-10-22 17:08] #203 closed

[2020-10-22 17:09] cdsap commented on #164
Hi, we have completed the initial planning of modularization the current library in plugins, last night I fixed the snapshot publishing on master and now we have available all the plugins in snapshots artifactories:
[code]
If you want to do some exploratory tests for some plugins would be helpful.
I have added some issues to the existing ones to complete the release:
https://github.com/cdsap/Talai

[2020-10-27 01:40] mokkun commented on #164
Thanks. I will have some time this week to catch up and look at some of those issues. :+1:

[2020-10-29 02:54] #224 closed

[2020-11-01 21:08] #244 closed

[2020-11-02 01:13] cdsap commented on #246
I tested the scenario when we have already in the classpath two different plugins:
[code]

The output shows an error:
[code]

I think the message is quite clear and we don't need to have an additional logic for this release.
What do you think @mokkun ?

[2020-11-02 01:33] cdsap opened #250 "BuildListener.buildStarted(Gradle) method has been deprecated. / TalaiotListener"
There are different warnings in the builds when we use Talaiot:
[code]

We are using the listener in TalaiotListener, that contains the listeners of the build and task. We need to rethink this implementation, previously @MyDogTom observed a lot of responsibility there(We are orchestrating the Talaiot Trackers with the different Gradle Listeners).

Gradle will release soon 6.8 but we have time stil

[2020-11-02 09:49] mokkun commented on #246
Should we use "plugin" instead of "extension"?  I think it may cause confusion since we don't seem to use this term anywhere else in the output. :thinking:

[2020-11-03 02:46] mokkun commented on #245
@cdsap I've been playing with this while testing a few changes to address #231.
One thing I've notice is that after changing the sample to use `com.cdsap.talaiot.plugin.base` I'd get an error when trying to access `jsonPublisher`:

[code]

With configuration:

[code]

After some digging, I realized that `BaseExtension.publishers()` [takes a `PublishersConfiguration` type](https://github.com/cdsap/

[2020-11-03 06:02] mokkun commented on #181
This is not longer valid since the structure of the project has changed considerably. This task is also overridden by https://github.com/cdsap/Talaiot/issues/243.

[2020-11-03 06:02] #181 closed

[2020-11-03 06:07] mokkun commented on #246
One more question that comes to mind is if we should support applying different versions of the plugin. I can see someone using `graph` and `base` or `influxdb` together. :thinking:

[2020-11-04 01:20] cdsap commented on #245
Hi, I think the problem is coming when we try to include in the classpath of the build script the dsl configuration.
The plugins have included e2e tests to test the whole integration with Gradle:
https://github.com/cdsap/Talaiot/blob/master/library/plugins/base/base-plugin/src/test/java/com/cdsap/talaiot/plugin/base/BasePluginTest.kt#L22

I tested different scenarios, first using groovy and defini

[2020-11-04 01:24] cdsap commented on #246
The output it's the default used by Gradle.

That's why we have the "legacy" plugin, it contains all the publishers and corresponds to the current released(1.3.5) plugin.
This is the reason I don't like the term "legacy". It's legacy from the perspective of the pluginization, but the entity that represents is a "fat" plugin with all the functionality. It comes a better name?

[2020-11-04 08:41] mokkun commented on #246
Got it. :+1:

Still, I think we should consider make it possible to use two or three plugins in the future. As is now is one or all. :)

Agreed. What about "standard"?

https://www.merriam-webster.com/dictionary/standard

[2020-11-04 08:45] mokkun commented on #246
The above is only for internal naming correct? I think users should use `id "com.cdsap.talaiot"` to refer to the standard way of using the tool, and `id "id "com.cdsap.talaiot.plugins.PLUGIN_NAME"` for other specific ways.

[2020-11-04 08:53] mokkun commented on #245
Thanks for the explanation. I thought it could be a type issue, not very familiar with Kotlin DSL to be honest. I will play a bit more with the sample to try and learn more about it. I've [updated the settings](https://github.com/mokkun/Talaiot/blob/prototype/non-null-publisher-in-configuration-provider/sample/settings.gradle.kts) to "work" with all plugins in a not very elegant way, hehe.

The wa

[2020-11-05 04:06] cdsap opened #252 "Rename Talaiot plugin Legacy to Standard"
As discussed in #246

[2020-11-05 04:06] cdsap commented on #246
perfect, I like the name standard. Created issue https://github.com/cdsap/Talaiot/issues/252
And yes, the standard plugin is accessible by `"com.cdsap.talaiot"` and then the plugins follow the convention plugin.XXX

[2020-11-05 04:07] cdsap commented on #246
btw I'm going to close this issue

[2020-11-05 04:07] #246 closed

[2020-11-05 04:07] cdsap commented on #231
solved by @mokkun

[2020-11-05 04:07] #231 closed

[2020-11-05 04:08] cdsap commented on #242
done

[2020-11-05 04:08] #242 closed

[2020-11-10 03:57] #252 closed

[2020-11-16 01:32] mokkun commented on #245
@cdsap I can look into this during this week. May I assign it to myself? Is there any particular samples you want to have?

[2020-11-16 02:23] cdsap commented on #164
plugins, publishers and core published. Waiting for:
-- Approval Plugin Portal
-- Transfer to Frog

[2020-11-16 04:54] cdsap commented on #164
Publishers and core available in Jfrog.
Waiting for Plugin Portal(Gradle)

[2020-11-17 02:12] cdsap commented on #164
all the plugins were approved.
I needed to remove the standard one because some problem in the artifact name. Now is ok.
I tested with a build regression for our update to Gradle 6.7.1(at the company) and looks ok, the only thing I found it was related to the issue #232

I'm going to give a couple days to make the announcement in case we can find some problem

[2020-11-17 02:13] cdsap commented on #245
Sure, no problem.
At the end, because all the plugins are in the plugin portal we can rely in them and we can include some basic samples for 2-3 plugins.
What do you think?

[2020-11-18 17:08] MyDogTom opened #256 "Version 1.4 questions"
I'm still catching up with all changes made in last months. I'll write here my findings / questions as soon as I notice them. Just in case they make sense to you.

## Plugin dependencies

Readme has `classpath ""com.cdsap.talaiot.plugin:base:1.4.0""` . According to [Gradle portal](https://plugins.gradle.org/plugin/com.cdsap.talaiot.plugin.base) it should be `com.cdsap.talaiot.plugin:base-plugin:1.

[2020-11-19 04:46] cdsap opened #257 "Dependency Deployment for Release builds and Gradle portal coordinates"
The first attempt of deployment of 1.4 has these problems:

* Gradle Coordinates for the Plugin portal are incorrect.

* Confirm if there are no problems with api/implementation  commented in the Issue #256

[2020-11-19 04:49] cdsap commented on #256
Thanks for the testing, and don't worry I think sometimes during those times is hard to have the available time like before pandemic.

**Plugin dependencies**
You're totally right. When I was testing the plugins, they were pointing to the snapshot repository and the maven configuration was including the correct artifactId defined in the configuration of the plugin. Once the Plugins were deployed t

[2020-11-19 04:52] cdsap commented on #164
@MyDogTom has reported problems in the plugins ids in the Plugin Portal https://github.com/cdsap/Talaiot/issues/256.
I created #257 and I need to work during this week(end) on this.
At thee moment we are going to wait to fix the current problems.

[2020-11-19 04:54] cdsap commented on #256
Just an additional note, we have updated this week to Gradle 6.7.1/Talaiot 1.4.0 in the company and at the moment we are reporting/working ok.
One of the changes in our custom implementation(we are injecting different Talaiot configurations depending on the environment) was:
<img width="1157" alt="Screen Shot 2020-11-18 at 8 54 01 PM" src="https://user-images.githubusercontent.com/475733/99623132-

[2020-11-22 02:13] cdsap commented on #256
I have found the problem with the artifact id for the legacy plugin system of the different plugins.
Now I need to work in the second problem.

[2020-11-23 06:15] mokkun commented on #245
Sounds good. I'll wait for https://github.com/cdsap/Talaiot/pull/258 to be merged and published. Then I should be able to prepare the samples. :+1:

[2020-12-02 20:54] cdsap commented on #257
done

[2020-12-02 20:54] #257 closed

[2020-12-02 20:54] cdsap commented on #256
https://github.com/cdsap/Talaiot/releases/tag/1.4.0

[2020-12-09 03:05] #250 closed

[2020-12-10 08:22] #256 closed

[2020-12-17 03:22] cdsap commented on #219
solved 1.4.1

[2020-12-17 03:22] #219 closed

[2020-12-17 03:22] cdsap commented on #164
I think this task is done!

[2020-12-17 03:22] #164 closed

[2020-12-17 03:30] cdsap opened #265 "Build Services to receive information about task execution"
Gradle requires use Build Service to receive information about task execution, actually our builds shows deprecation messages that we have covered in the release 1.4.1.
But the correct implementation should be follow the Gradle guidelines.
More info:
https://docs.gradle.org/6.7.1/userguide/build_services.html#operation_listener
As we know our TalaiotListener it has to much responsibility, maybe th

[2020-12-21 20:10] tinder-inakivillar opened #266 "M1 Throwing exception when calculate Memory metrics"
Testing M1 we found:
[code]
We need to check if updating the dependencies of oshi fixes the problem

[2020-12-21 22:11] aaronweihe commented on #266
I ran into this issue when i tried building an android project on the new M1 mbp. Was using OpenJDK 11 and 13 pre built for arm64 on MacOS. full stacktrace:
[code]

[2020-12-23 01:21] cdsap commented on #266
thanks @aaronweihe, just updated a new snapshot with the update of oshi library. Can you please test it? I don't have a M1.
The repo to use the snapshot is:

[code]

thanks

[2020-12-24 01:20] cdsap commented on #266
the update of the dependency doesn't fix the problem. Reference https://github.com/oshi/oshi/issues/1462

[2021-01-28 00:52] dbwiddis commented on #266
FYI:  https://groups.google.com/g/jna-users/c/UwUa5qWbIco

[2021-02-11 18:39] cdsap opened #269 "Jcenter/Bintray migration"
With Recent announcement we need to define the strategy of migration.

[2021-02-12 00:25] Malinskiy commented on #269
1. Identify dependencies coming from jCenter/bintray
2. Verify there are issues created for dependencies to migrate away from jCenter/bintray
3. Upgrade dependencies

If you want to be super safe - use the `libs` local copy of dependencies from jCenter and remove the entry from `repositories` altogether.

The announcement has been updated with new dates after the initial one btw:

[2021-02-12 01:37] cdsap commented on #269
Hi @Malinskiy, thanks, now we have the guideline.
And what about our artifacts?
We offer plugins under Gradle Plugin Portal but the publishers and core dependencies are in Bintray, do you have any recommendation?
thx!

[2021-02-17 02:21] cdsap commented on #266
Updated to 5.5.0.
Waiting to test again in a M1 Mac
https://github.com/cdsap/Talaiot/pull/267

[2021-02-17 02:52] cdsap commented on #190
Hi, I'm creating the Org, the name Talaiot is not available.
I was thinking on alternatives, but not sure:
build-tools-android
talaiot-plugin
...
Naming is hard.
@mokkun @MyDogTom @Malinskiy any idea?

[2021-02-17 06:33] mokkun commented on #190
@cdsap seems like the account is not in use. I actually got my handle (@mokkun) after contacting GitHub about it and they deactivated the previous account and gave me the handle. Have you tried doing that? That was a few years back, not sure if they still have the same policy. 🤔

[2021-02-18 02:56] cdsap commented on #265
fixed!

[2021-02-18 02:56] #265 closed

[2021-02-18 08:36] alaershov commented on #232
Updated to 0.8.0 to support AGP 4.1.2 and Gradle 6.8.2, and this issue affects me greatly as well.
Maybe we could configure which metrics should be only fields? It would add a controllable performance overhead as not all fields would become tags, but only a selected few.

[2021-02-18 15:46] tinder-inakivillar commented on #232
Hi @alaershov, working on this issue , hope to have something on the weekend

[2021-02-21 01:09] #266 closed

[2021-02-24 03:35] cdsap commented on #190
GH didn't response. I've created TalaiotLabs.

[2021-02-27 02:51] cdsap commented on #269
If you don't have concerns I'm going to migrate to Sonatype for storing our artifacts(publishers, core). The requirements are:
-- Supply Javadoc and sources
-- Sign your files with GPG/PGP
-- Sufficient and correct metadata for your projects

https://central.sonatype.org/pages/requirements.html?__hstc=31049440.331059e9c21aeb7d36e2cb8c69b8e10f.1614393786552.1614393786552.1614393786552.1&__hssc=3104

[2021-03-01 02:03] cdsap commented on #190
Finally, GH contacted me and we got the org name:
https://github.com/Talaiot 🎉

[2021-03-10 11:57] alaershov opened #276 "Gradle scan link is gone"
Hello!

Noticed that you've dropped the Gradle Build Scan link recently, can we please have it back? It was nice to have this link in our Graphana dashboard next to each build.

Or do you suggest we should implement it ourselves and send it as a custom metric?

[2021-03-10 17:19] cdsap commented on #276
Hi @alaershov, the feature was removed here https://github.com/cdsap/Talaiot/commit/3569daea16680a56d1ceccd90d39bb6c1dbe7fea because the original implementation `org.gradle.internal.scan.eob.DefaultBuildScanEndOfBuildNotifier` was moved(or removed).
Didn't check if we can have It back, but definitely I leave  this ticket open to research more

[2021-03-10 17:22] cdsap commented on #276
btw, @Malinskiy do you know if Gradle is still supporting the DefaultBuildScanEndOfBuildNotifier in Gradle 6.x versions?

[2021-03-11 05:20] Malinskiy commented on #276
@cdsap

There is a new way to get the publisher link via a proper callback. I've implemented a skeleton in https://github.com/cdsap/Talaiot/blob/feature/gradle-scan-link/library/core/talaiot/src/main/kotlin/com/cdsap/talaiot/metrics/GradleScanLinkMetric.kt#L15

This prints the metric to stdout after you accept the license agreement. Unfortunately, the lifecycle problem is coming back again: gradle

[2021-03-11 11:41] alaershov commented on #232
I see you've fixed this issue, that's awesome! Can we please have a release with tag support?

[2021-03-11 15:08] cdsap commented on #232
hi @alaershov you have the release 1.4.2 available including the tags setup.
I'm waiting one more day to make the announcement and finish the release notes.
if you want to test now it works like:
[code]

It supports current metrics https://github.com/cdsap/Talaiot/blob/master/library/core/talaiot/src/main/kotlin/com/cdsap/talaiot/metrics/BuildMetrics.kt and custom metrics

[2021-03-12 03:38] cdsap commented on #276
Thank you very much for the complete description of the problem.
It is indeed more elegant the solution with  `GradleEnterprisePluginManager`.
I'm going to review the skeleton and try to understand better the problems with the callbacks.

In terms of support, Gradle < 6 was dropped since 1.4.1. The motivation behind `InternalBuildListener` is to support the configuration-cache feature. `BuildListe

[2021-03-13 02:32] cdsap commented on #232
version has been officially released, https://github.com/cdsap/Talaiot/releases/tag/1.4.2.
Let me know If I can close the issue @alaershov

[2021-03-16 10:43] alaershov commented on #232
Thanks a lot, works perfectly for us!

[2021-03-20 12:53] bhargavms opened #279 "Is there a way to shorten gradle task names to make analysis easier"
Currently the task names are long (Talaiot reports raw task), is there some way to give aliases to some tasks so that we can shorten them when reporting in `requestedTasks` tag?

[2021-03-22 01:20] cdsap commented on #279
hi @bhargavms, it could be a good idea, not only in terms of visualization, maybe some clients want to obfuscate/lookup the tasks.
The immediate solution would be change the output in the visualization component , Grafana allow you to define rules in the visualization section.
Long term and thinking in the plugin, we can offer a mapping configuration allowing the user to define the rules. Later we

[2021-03-22 12:38] bhargavms commented on #279
well the problem is there is too much data being pushed into the `requestedTasks` tag on a daily basis, and long term retention becomes a problem, for now in terms visualization I think your idea will solve that issue for me

Thanks!

[2021-03-22 12:38] #279 closed

[2021-03-23 08:12] bhargavms commented on #279
for anyone looking for an answer for this in the future, the plugin already solves this in the default config with influxDB, the "task" measurement tracks duration for each executed task individually.

[2021-03-25 22:54] cdsap commented on #276
Fixed by #278
thanks @Malinskiy

[2021-03-25 22:54] #276 closed

[2021-04-10 07:24] shailesh21 opened #282 "Build completion gets dealy if we use talaiot and Gradle Enterprises build scan together"
**Context**
We uses talaiot plugin to capture build details and we are spiking Gradle Enterprise also. Gradle Enterprise has a flag called `publishOnBackground` to upload build scan in background. If this flag is set true then it launches a separate process to upload in the background.

Talaiot also appends build scan url in final metrics. Since this would require for the build scan to be uploaded

[2021-04-10 14:22] cdsap commented on #282
Hi @shailesh21, thanks for the issue. Sorry to hear that. The experience of waiting 2-3 min is unacceptable.
Can you tell me which version are you using?
We drop functionality for Gradle Build Scan in 1.4. Recently, we recovered the feature https://github.com/cdsap/Talaiot/pull/278/files but it's not included in a release version(only snapshots)

Wait for you answer, thanks

[2021-04-11 14:23] shailesh21 commented on #282
I am using Talaiot version 1.3.5. Let me check version 1.4 release notes. Thank you for the information.

[2021-04-11 14:23] #282 closed

[2021-04-12 06:32] yarolegovich opened #284 "Make TaskMetrics filter similar to what is provided for BuildMetrics for Influx publisher"
Hi, the request is the same as [here](https://github.com/cdsap/Talaiot/issues/232), but for tasks, can we please add a similar filtering option?
Publishing all the properties as tags makes series cardinality skyrocket in a multi-module project, where there are lots of unique task names (due to a module name being prepended).
Also I can't imagine a case where having workerId as a tag would be a goo

[2021-04-12 21:07] cdsap commented on #284
hi @yarolegovich
Thank you very much for the ticket and the pr, I will review today

[2021-04-20 08:03] ndw opened #288 "Support for Gradle 7.0?"
I get the following deprecation warning with 1.4.2:

Are there any plans to make the plugin work with Gradle 7?

[2021-04-20 16:46] cdsap commented on #288
Hi @ndw, thanks for the report, I will check it today

[2021-04-21 14:12] cdsap commented on #288
PR created

[2021-04-29 13:49] #284 closed

[2021-04-29 13:50] cdsap commented on #269
Migrated!

[2021-04-29 13:50] #269 closed

[2021-04-29 13:51] cdsap commented on #288
Hi, version 1.5.0 has been released supporting Gradle 7.
We have migrated to Sonatype. The plugin id is:
[code]

[2021-04-29 13:53] cdsap commented on #282
hi @shailesh21
we have enabled again the BuildScanMetric in the new Release 1.5.0.
Please let me know if you see again the problem

[2021-04-29 17:01] ndw commented on #288
I've switched to 1.5.0:
[code]
with this configuration:
[code]
and I'm still getting this warning:

It doesn't occur if I remove the `talaiot` plugin.

User error?

[2021-04-30 02:24] cdsap commented on #288
hi @ndw thanks again for testing it.
I tested different scenarios for a simple project using:
[code]
* Gradle 6.7
Build execution ok. No warnings
<img width="425" alt="Screen Shot 2021-04-29 at 7 15 46 PM" src="https://user-images.githubusercontent.com/475733/116640454-82e41c80-a91f-11eb-94f2-490229bfb5ad.png">
<img width="449" alt="Screen Shot 2021-04-29 at 7 15 58 PM" src="https://user-images.gi

[2021-04-30 09:22] ndw commented on #288
I'm quite confused by the different results that we're seeing. Here's my `build.gradle` file:
[code]
And here's the output I get:
[code]
I've put the debug log in [a gist](https://gist.github.com/ndw/b346ff5a45277a26b745f28dc2a0740e).

[2021-05-02 03:09] cdsap commented on #288
Thanks for the gist and example. I reproduced it with Gradle 6.5. I was confused too, I added integration tests for Gradle 7 and tested with Gradle 7 projects.
The problem comes from the origin of the build deprecation message. `TalaiotListener` is implementing https://github.com/gradle/gradle/blob/fe98989182eddc66d20ee7fea82c1532287d5090/subprojects/core-api/src/main/java/org/gradle/internal/Inte

[2021-05-31 10:21] jan-stoltman-bolt commented on #232
Hey @cdsap I think that this issue can be safely closed

[2021-06-01 00:26] #232 closed

[2021-06-01 22:24] hyandell opened #298 "Improving the Gradle jar/pom"
Hi Talaiot folk,

I do a lot of automatic/manual review of jar files in my dayjob.

Looking at the latest jar/pom on https://plugins.gradle.org/m2/com/cdsap/talaiot/ it would be great if a source jar was provided, if the pom file could identify the license, and if the LICENSE file could be included in the jar files.

I don't have much Gradle build experience, so my apologies for reporting this as

[2021-06-03 02:53] cdsap commented on #298
Hi @hyandell
thanks for the issue.
Since last month we moved to Maven Central/Sonatype.
The new plugin id (version 1.5) is https://plugins.gradle.org/plugin/io.github.cdsap.talaiot

In the new version we have more complete data:
https://repo1.maven.org/maven2/io/github/cdsap/talaiot/talaiot/1.5.0/

I think will be missing the license included in the jar files

[2021-06-27 12:32] mustafaberkaymutlu opened #299 "IllegalStateException: Task information is not available, as this task execution graph has not been populated."
Hello,
I am having this issue when I try to sync my project:

[code]

It seems like this line https://github.com/cdsap/Talaiot/blob/17ff22858d1add5b83b64fe3a024141a9b7bff43/library/core/talaiot/src/main/kotlin/io/github/cdsap/talaiot/TalaiotListener.kt#L118
is throwing an IllegalStateException https://github.com/gradle/gradle/blob/master/subprojects/core/src/main/java/org/gradle/execution/taskgrap

[2021-06-27 13:37] mustafaberkaymutlu commented on #299
Issue might be related to my Gradle version: 7.1.
When I downgrade my Gradle version to 7.0.2 it seems to be working well.

[2021-06-27 20:45] cdsap commented on #299
hi @mustafaberkaymutlu thanks for the report and the detailed description.
I was not able to reproduce the problem, I triggered a regression with 7.1 and was ok. I updated anyways the project with Gradle 7.1(#300) and deployed a new snapshot version. In case you have time you can test it please, more details here: https://github.com/cdsap/Talaiot#snapshots--

Trying to understand better the proble

[2021-06-28 09:23] mustafaberkaymutlu commented on #299
Hello,
Thanks for checking this so quickly!

We don't use configuration cache, however we do have build cache enabled.

I don't have a sample project to reproduce this issue at the moment, I will try again to find the root cause and then let you know. I'll also try with the snapshot version to see if there is a difference.
but there could be something else in our setup that is causing this, becaus

[2021-07-08 07:38] mokkun opened #301 "Plugin artifacts not published on Maven/Nexus"
I updated my project with the latest changes from 1.5.0 and decided to change it only to use the `base` dependency instead of using `standard`.

Gradle complains about not being able to find `io.github.cdsap.talaiot.plugin:base:1.5.0`, so I went to check the [Maven](https://repo.maven.apache.org/maven2/io/github/cdsap/talaiot/)/[Nexus](https://s01.oss.sonatype.org/#nexus-search;quick~io.github.cds

[2021-07-09 16:00] cdsap commented on #301
Hi @mokkun, hope everything is going well.
You're right. Just working in the new release and I published:
[code]

Can you verify ?

[2021-07-09 16:03] cdsap commented on #299
@mustafaberkaymutlu I was able to reproduce locally the issue. It's only happening in the IDE, command line works well. We just published a new version:
[code]
Can you verify please?

[2021-07-12 01:09] tinder-inakivillar commented on #301
Release 1.5.1 created https://github.com/cdsap/Talaiot/releases/tag/1.5.1

[2021-07-13 19:31] cdsap commented on #288
since we have worked with Gradle 7 in the project I'm closing this issue.

[2021-07-13 19:31] #288 closed

[2021-08-05 06:07] mokkun commented on #301
Sorry, forgot to reply. All good 👍

[2021-08-05 06:07] #301 closed

[2021-10-02 19:13] mustafaberkaymutlu commented on #299
I just tried this,
When I use Talaiot 1.5.0 with Gradle 7.2 I can reproduce this issue,
and when I bump Talaiot to 1.5.1 then this issue doesn't happen, I think we can say your fix works!
Thanks for your help!

[2021-10-03 22:14] cdsap commented on #299
thanks for the heads-up, closing the issue

[2021-10-03 22:14] #299 closed

[2021-10-06 04:55] RHMDHDYT opened #307 "Can't use filter param in Groovy: No signature of method: build_xxx.talaiot() is applicable for argument types: (build_xxx$_run_closure4) values"
I'm using the basic config and it works:

build.gradle:
[code]

But, when I add more filter param like `tasks`:
[code]

or `build`:

[code]

It throws an error on Gradle sync:
[code]
the line 325 pointing on `talaiot {` tag

Does anyone know what I missed?

[2021-10-06 23:50] cdsap commented on #307
Hi, you have mentioned you are using Groovy to define your builds.
The code showed:
[code]
works for kts build files. If you are using Groovy you need to use something like:
[code]

[2021-10-07 02:57] RHMDHDYT commented on #307
you're right @cdsap, my mistake. I did the change and it works. But I realize that ` minExecutionTime = 5` doesn't filter any task below 5 minutes, it's still uploaded to InfluxDB. I turned on the log and didn't found anything suspicious. Do you know why it's not working properly?

[2021-10-08 06:05] hram opened #309 "NoClassDefFoundError InternalBuildListener"
Hi

Sync project ended with error
`Caused by: java.lang.NoClassDefFoundError: org/gradle/internal/InternalBuildListener
	at io.github.cdsap.talaiot.Talaiot.setUpPlugin(Talaiot.kt:37)
	at io.github.cdsap.talaiot.plugin.TalaiotPlugin.apply(TalaiotPlugin.kt:15)
	at io.github.cdsap.talaiot.plugin.TalaiotPlugin.apply(TalaiotPlugin.kt:7)`

How can I identify matching versions gradle plugin and talaiot?

[2021-10-09 00:42] cdsap commented on #309
Hi, I'm afraid we are not supporting Gradle < 6 since Talaiot 1.4.
The configuration you're showing is a bit behind(AGP 3.6.4/Gradle 5.6.4) but if you want still to use Talaiot on those versions you can use version 1.3.x:
* https://plugins.gradle.org/plugin/com.cdsap.talaiot/1.3.5
* https://github.com/cdsap/Talaiot/releases/tag/1.3.5

[2021-10-09 00:45] cdsap commented on #307
hi @RHMDHDYT the value is expressed in milliseconds(long) https://github.com/cdsap/Talaiot/blob/17ff22858d1add5b83b64fe3a024141a9b7bff43/library/core/talaiot/src/main/kotlin/io/github/cdsap/talaiot/configuration/ThresholdConfiguration.kt#L11

[2021-10-09 11:34] #309 closed, assigned to nobody

[2021-10-11 15:28] hram opened #310 "InfluxDbPublisher unauthorized"
I have an error when publishing to InfluxDB OSS 2.0
`[InfluxDbPublisher]: InfluxDbPublisher-Error-Executor Runnable: {"code":"unauthorized","message":"Unauthorized"}`

plugin config
`influxDbPublisher {`
`            dbName = "tracking"`
`            url = "some url"`
`            username = "some user name"`
`            password = "some password"`
`            taskMetricName = "task"`
`

[2021-10-19 11:49] snpefk opened #311 "Unable to populate data through script: org.gradle.tooling.BuildException"
Hi! Thanks for your plugin.

When I run `script/populate.sh` script exited with error `org.gradle.tooling.BuildException: Could not execute build using connection to Gradle distribution 'https://services.gradle.org/distributions/gradle-5.6.4-bin.zip'.` when trying to run `gradle-profile`. I'm fixed the problem by updating gradle version in from `5.1` to `6.9.1` in `script/scenario`:
[code]
I can o

[2021-10-20 03:24] cdsap commented on #311
hi @snpefk, thanks for the issue.
You're right, the populate script is quite old and requires updating it.  It's not "critical" but if you want to contribute feel free to open a pr.
Thanks again

[2021-10-20 08:39] PStrelchenko opened #313 "Unexpected behavior in project with enabled configuration cache"
We want to send build metrics with `Talaiot` in our project with enabled Gradle's configuration cache. We noticed that when the project use saved configuration cache entry, `talaiot` will not send any metrics (no output from any publishers in the log). For me, it is not expected behavior =)

Maybe I've made some mistakes with `Talaiot` configuration, but I can't find where I was wrong.

I've prepa

[2021-10-20 17:39] #311 closed

[2021-10-22 03:39] cdsap commented on #313
@PStrelchenko I have some updates, the issue is we are registering a build listener in the plugin. This is incompatible with Configuration Cache.
I've started working on the possible migration to BuildServices(the recommended way to implement it). I hope to have something ready for next week.

[2021-10-28 07:53] hram opened #314 "UnknownHostException"
My build failed with an exceptont:
` Caused by: java.net.UnknownHostException: teamcity-new: teamcity-new: Name or service not known
 	at io.github.cdsap.talaiot.metrics.HostnameMetric$1.invoke(SimpleMetrics.kt:76)
 	at io.github.cdsap.talaiot.metrics.HostnameMetric$1.invoke(SimpleMetrics.kt:75)
 	at io.github.cdsap.talaiot.metrics.base.Metric.get(Metric.kt:15)
 	at io.github.cdsap.talaiot.provide

[2021-10-30 10:29] hram commented on #310
On Docker image works well
Close issue

[2021-10-30 10:29] #310 closed

[2021-10-30 19:21] gabrielittner opened #316 "Collect information on thermal throttling"
This is how you can do it for Gradle build scans on macOS https://gist.github.com/ghale/469530ef6c51cbfa5816719f4d52d9a9. It would be cool to have it integrated directly into Talaiot so that it's easier to analyze how many developers in a team are affected by it and how bad it gets.

[2021-10-31 02:20] cdsap commented on #314
Hi, thanks for the issue. I merged a quick fix to avoid the exception.
The StackOverflow link that you sent explains the issue:
[code]
Apparently we can rely on `NetworkInterface.getNetworkInterfaces()` as a fall back when `InetAddress.getLocalHost()` throws an `UnknownHostException`. In the initial fix I just catch the exception. I can deploy a new version in a couple days.

[2021-10-31 18:23] cdsap commented on #316
@gabrielittner thank you very much. Very useful, definitely will implement it

[2021-11-29 11:44] snpefk commented on #131
Bug is still present in version 1.5.1.
Have the same logs
[code]

[2021-12-22 15:13] horowitz opened #321 "How to track Android Studio (IDE) Gradle Sync"
Hi @cdsap i was wondering if it's possible to track gradle syncs from the IDE with talaiot

To be clear i'm talking about when you change something on any build.gradle file and the IDE asks you to sync the project.
![image](https://user-images.githubusercontent.com/3278232/147113691-5d30ccaf-fbd3-4266-b027-7d03c6cd6f2a.png)

After clicking on sync i'm not getting any reports from talaiot. If i'm n

[2022-01-09 03:05] cdsap commented on #321
Hi @horowitz, sorry for the delay, Christmas break...
Are you using Gradle 7.3? We have seen different behaviour on the IDE when we synced Gradle. Previously within the IDE we were catching the action execution but since Gradle 7.3 no builds are reported.
Same behaviour has been observed for Build Scans.

[2022-01-15 14:53] horowitz commented on #321
Sorry as well for the delay, vacations...
I'm actually using 7.2 but maybe the behaviour is the same? 🤔

Do you know if there's any workaround to track these sync times?

[2022-01-31 04:40] MarinaShaposhnikova opened #322 "PostgreSQL support"
Hello, do you consider PostgreSQL data source as one of the publishing ways for metrics?
Thank you.

[2022-02-01 02:58] cdsap commented on #322
Hi, thanks for the ticket.
Didn't consider it but having jvm clients like http://www.julienviet.com/reactive-pg-client/guide/kotlin/ we could create a new  Publisher  pushing to PostgreSql

[2022-03-17 08:47] MyDogTom commented on #313
Hi @cdsap , am I correct that #315 is not enough to fully support configuration cache? If yes, do you have any list of required actions to do? I'd like to understand if there is something I can help with.

[2022-03-24 14:04] jdomag opened #323 "How do I know the export was executed or not?"
I'm using push gateway as a publisher and sometimes metrics are not published (it may happen due to issues with PushGateway itself). I was wondering how I can see after task execution some log saying that metrics were exported successfully or not.
Also can I use multiple env vars in ignoreWhen {} ? If so what is logical operator used there AND / OR? Some example or docs update on this would be muc

[2022-03-25 14:54] jdomag commented on #323
@MyDogTom thanks, that helps a lot!

[2022-03-25 14:54] #323 closed

[2022-03-25 15:26] jdomag opened #325 "Prometheus PushGateway publisher logic"
I found it great idea to push task metrics to Prometheus and visualize it in Grafana. However current approach is that pushgateway publisher publish each metric with separate name e.g. the name of the metric is set to :project:task. I have 100 projects that execute the same task so metrics in prometheus looks like this:
![image](https://user-images.githubusercontent.com/28705876/160149985-b71441a5

[2022-03-26 02:46] cdsap opened #326 "Update CircleCi Docker Image"
Builds in CircleCi are reporting:
[code]
Update the docker image.

Btw, do you have any thoughts for a possible migration to GHA?

[2022-03-26 02:52] cdsap commented on #325
Hi @jdomagm thanks for the report.
You're completely right, recently I received one proposal addressing this issue. Going to ping him to request permission to share the proposal

[2022-03-26 07:41] MyDogTom commented on #326
Sorry, I don't have any experience nor with CirceCI nor with GitHub Actions :(

[2022-03-27 00:38] #326 closed

[2022-03-28 07:53] jdomag commented on #325
@cdsap
I would really appreciate it, thanks! :+1:

[2022-04-12 09:50] jdomag commented on #325
@cdsap any update on this?

[2022-04-16 18:31] alirezaafkar opened #328 "retentionPolicyConfiguration is not working"
Hi, Do you have any idea why with the following configuration, my reports are still stored with roTalaiot?!

[code]

[2022-04-16 21:33] cdsap commented on #328
Hi, thanks for the report.
I think that you are hitting the edge case where the data first was reported without Retention Policy, and then using the same dbname it tried to report using different rp.
Can you test please if you can use the `customRp` with a different dbName?
If works we need to check which data was stored with the default rp.
Let me know

[2022-04-17 06:01] alirezaafkar commented on #328
I tried different dbNames, still not working.

[2022-04-17 14:53] cdsap commented on #328
Sorry to hear that, I just tested one local instance and verify that worked. Do you have access to the data in influxdb? I would remove the wrong Retention Public.

[2022-04-19 15:51] apolatynski commented on #325
A while ago I had also plans to use Talaiot with Prometheus as well, and noticed that the publisher could be improved. Below is a draft of how I would try to improve the situation:

# Change description

Modify what data is exported from Talaiot by default when used with Prometheus Push Gateway publisher.

Reasons for change:

- High cardinality in label values
- Redundant data
- Attempt to align

[2022-04-19 16:02] apolatynski commented on #325
@jdomag With above changes, I think your metric would be possible to extract with `gradle_task_abc_execution_time_seconds{project=":xyz"}`

[2022-04-20 04:14] cdsap commented on #325
@apolatynski Thank you very much.
I created one draft with the rework of the publisher: https://github.com/cdsap/Talaiot/pull/335/
I've included the custom metrics(task/build) as labels, in influxDb we use them as tags to index better the data.
The only missing part is the untyped metric.

I would appreciate it if you can take a look.

[2022-04-20 08:37] jdomag commented on #325
@apolatynski @cdsap
First of all thanks for taking care of this, much appreciated.

One question - wouldn't be better to exclude a task name from the metric name as following:
[code]
That would allow people to gather metrics per project e.g. duration of all the tasks within a project `sum(gradle_task_execution_time_seconds{project="xyz"})`

[2022-04-20 16:06] apolatynski commented on #325
@jdomag
Why I didn't include `taskname` as a label, is because of number of distinct values. In project that I'm working on, I have around 2000 unique gradle tasks. and 77 subprojects. Considering all other labels, cardinality would be 2000 * 77 * 2 * 2 * 2 * 4 = 4928000. In real life scenario, you probably won't see all those tasks used, but it's still way more than the [recommended](https://prom

[2022-04-21 03:20] cdsap commented on #325
very interesting, after reading again the recommendation from Prometheus is clear that using tasks as labels reach the recommended cardinality value(100). However, analyzing our project, we have 600 modules and 13k unique tasks for the main development tasks. The number of modules/projects is a variable that tends to grow and will increase the cardinality of the metric.
I'm ok with both approaches

[2022-04-22 02:23] cdsap commented on #325
@apolatynski @jdomag , I finished the update of the Publisher configuration: https://github.com/cdsap/Talaiot/pull/337/files
However, I found an issue on the E2E with a PushGateway instance.
My approach was to include the task name as label:
[code]
But when I'm collecting more than one task I get:
[code]
Wrongly I assumed I could request unique metrics with different task names as labels. And now

[2022-04-22 02:35] cdsap commented on #322
Hi @MarinaShaposhnikova are you interested still on the PosterSql Publisher? I'm starting to review different java clients and I have some questions about the design of the db.

[2022-05-06 20:33] cdsap commented on #325
Hi, version 1.5.2 has been published. Please, can you take a look at the pushgateway plugin before we make the announcement?

Thanks

[2022-05-09 02:46] cdsap opened #341 "Deprecate Standard Plugin"
Talaiot standard plugin is growing.
After the latest development of the InfluxDb2 Plugin, we didn't include the new plugin on the standard plugin. The initial purpose of the plugin was to give compatibility with the older monolith model. For the next major release, I'm proposing to deprecate it and follow the plugin model for the different infra supported.
To achieve the deprecation we would need:

[2022-05-11 23:49] cdsap opened #342 "Create Bucket if doesn't exist on InfluxDb2Publisher"
InfluxDbPublisher supports the create the database in case it doesn't exist.
We need to provide the same functionality for InfluxDb2Publisher

[2022-05-12 15:17] #342 closed

[2022-05-30 16:26] nehgutierrez opened #346 "Gradle on MAC with M1 chip using Kotlin Native still produces JNA issue"
Using the plugin in a Mac with M1 chip we found the same error than in issue [20355](https://github.com/gradle/gradle/issues/20355#issuecomment-1086940022)

**Environment**
[code]
arm 64
MacOS 12.4 (21F79)

**Dependencies**
Here is part of the `./gradle buildEnvironment` command

[code]

[2022-05-31 02:54] cdsap commented on #346
hi @nehgutierrez thanks for the report
I was not aware of the Gradle issue comments. In the Gradle issue, I noticed the user was using old Talaiot versions. Since 1.4.2 we updated the oshi version making it compatible with M1 laptops https://github.com/cdsap/Talaiot/releases/tag/1.4.2.
However, checking your buildEnvironment output you are using the newest versions (1.5.2). At work we are using Ta

[2022-05-31 06:22] vfongmala-safetyculture commented on #346
Hi @cdsap

I have pretty similar problem with M1 Max

[code]

As I understand it shouldn't be much different between M1 and M1 Max. Any idea on this?

[2022-05-31 17:56] crothert commented on #346
@cdsap

[Here](https://github.com/crothert/TestTalaiot) is the sample repo 🙇

[2022-05-31 20:19] cdsap commented on #346
hi @vfongmala-safetyculture @crothert  thanks for the report and the example repo.
Definitely, there is something wrong there. I was surprised because we are working with M1 Max and I'm not seeing this issue.
Thanks to the repo provided by @crothert  I was able to reproduce it. One thing it call my attention was the configuration of the plugin in the example repo. I see you're not using the Talali

[2022-06-01 04:41] vfongmala-safetyculture commented on #346
Hi @cdsap,
So I actually found the cause of the problem.
I was using Temurin open JDK https://adoptium.net/ because AdoptOpenJDK was deprecated.
With Temurin JDK I found `Can't load library: /Users/vfongmala/Library/Caches/JNA/temp/jna2822647800186192224.tmp` issue
but when I downgraded to AdoptOpenJDK the issue was gone.

[2022-06-02 00:45] cdsap commented on #346
Thanks @vfongmala-safetyculture, we are using zulu JDK for M1.
One approach to detect the correct JDK usage on M1 machines is to follow this check: https://github.com/slackhq/kotlin-cli-util/blob/main/src/main/kotlin/slack/cli/AppleSiliconCompat.kt

btw @crothert have you tried the configuration with the above suggestion?

[2022-06-02 00:54] MarinaShaposhnikova commented on #322
Hi @cdsap sorry for the late reply, I have decided to proceed with InfluxDB instead of Postgres, however, I still think it's quite a common datastore and it would be great if Talaiot supported it.

[2022-06-06 20:17] nehgutierrez commented on #346
Thanks for the help @cdsap, do you want me to close the issue or you'll maintain it to investigate further?

[2022-06-07 02:43] cdsap commented on #346
thanks @nehgutierrez

[2022-06-14 10:17] cdsap opened #349 "Talaiot 2.0 - Compatibility with Configuration Cache"
**Overview**
Configuration Cache is a Gradle Feature that allows skipping the configuration phase bringing better build times, on a massive modularize Gradle project this could reduce the overall user experience dramatically.
If there are no changes in the build.gradle files, the configuration will be reused. Additionally, version.catalogs, gradle.properties or settings.gradle are involved in the

[2022-06-14 10:19] cdsap commented on #243
new PR creating 2.0 release, ignoring 1.4

[2022-06-14 10:19] #243 closed

[2022-06-14 10:19] cdsap commented on #245
new PR creating 2.0 release, ignoring 1.4

[2022-06-14 10:19] #245 closed

[2022-06-14 19:05] MyDogTom commented on #349
@cdsap Great to see configuration cache support! I'll test snapshot during the weekend.

[2022-06-15 05:59] cdsap opened #351 "Incorrect calculation configuration time"
Incorrect calculation of the configuration time in the TalaiotBuildService:
` configurationTime = System.currentTimeMillis() - start`

[2022-06-15 06:36] cdsap commented on #351
done

[2022-06-15 06:36] #351 closed

[2022-06-15 11:20] cdsap opened #354 "Starting time at configuration phase"
In Talaiot < 2.0 we were able to determine the exact moment of configuration phase started through the build listener.

The new implementation relies on the BuildService mechanism. We are defining the start of the build at the initialization of the BuildService:
[code]
This value is correct for the execution time, but not for the configuration time because the BuildService is implemented with the

[2022-06-29 14:17] akuleshov7 commented on #346
Still fails in build scripts for latest Kotlin Native projects with

[code]

and
[code]

[2022-07-01 03:34] cdsap commented on #346
Thanks @akuleshov7 for the complete report and sorry for delay.
Will check this weekend.

[2022-07-01 16:13] cdsap commented on #346
@akuleshov7 I tested again pointing to the checkout of the repo before removing the plugin.
It failed, tried to update the oshi dependency but same error.
Reopening this issue

[2022-07-06 12:22] jdomag commented on #325
@cdsap
How to use it?
I've tried to do
[code]
and then configuration looks like this
[code]

But I can't see any relevant metrics in push gateway

[2022-08-01 04:25] rohithThammaiah opened #355 "Not able to use `influxDb2Publisher` in version `1.5.3`"
Is there an issue with deployment here?

[2022-09-13 10:01] madsunrise commented on #346
+1 for issue (JDK Temurin-18.0.1+10)

[2022-09-18 06:39] MyDogTom commented on #355
Hey @rohithThammaiah , did you manage to make it work? If not could you please give more details?
* What's the exact error you receive?
* How you configure it?
* What do you see if you set `logger` to `info` mode?

[2022-09-18 07:33] MyDogTom commented on #349
Hi @cdsap ,
Sorry for this enormous delay. Only now I was able to try out the snapshot. I use `influxdb-publisher` and publishing works fine 🎉 . I checked when configuration cache is not available and when configuration cache is present.

I found two unexpected behaviours:
* `configuration` field is always zero. Even when configuration phase took some time due to missing configuration cache.
* I h

[2022-09-19 12:47] notsatyarth commented on #346
Tried this out on the project listed by akuleshov7  above,
A few findings:
1. I can make it work if I specify talaiot as a compile dependency for buildSrc and only apply the plugin on the root/build.gradle.kts. This fails if I were to declare the plugin in root/build.gradle.kts . A different I notice between both of these builds is that in the former setup, `oshi` is a part of the build classpath

[2022-09-27 02:02] cdsap commented on #349
@MyDogTom thanks for the feedback.

Configuration time should be addressed in this issue https://github.com/cdsap/Talaiot/issues/354.
I don't remember details about `GradleMetrics`  but let me check and I'll reply you

[2022-10-05 15:36] rohithThammaiah commented on #355
The project was failing to compile since was not able to find an instance of `influxDb2Publisher`

[2022-10-07 05:00] MyDogTom commented on #355
I added `implementation "io.github.cdsap.talaiot.plugin:influxdb2:1.5.3` dependency in my personal project. I was able to sync the project and see `influxdb2-publisher` library added to my project.

The library also present on Maven: https://search.maven.org/artifact/io.github.cdsap.talaiot.plugin/influxdb2

@rohithThammaiah could you please show how you include `io.github.cdsap.talaiot.plugin:inf